.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button:disabled {
  background-color: var(--disabled-color);
  color: var(--disabled-text-color);
  border-color: var(--disabled-color);
  cursor: not-allowed;
}
