<div class="not-found-container">
  <div class="left-section">
    <img ngSrc="../../assets/img/almo/404.png" alt="404 Not Found" class="not-found-img" height="350" width="350">
  </div>
  <div class="right-section">
    <h1 class="not-found-title">NOT FOUND</h1>
    <p class="not-found-caption">
      Almo couldn't find anything for you.<br>Better luck next time!</p>
    <div class="go-back-container">
      <a routerLink="/home" class="go-back-link">Go back to the app</a>
    </div>
  </div>
</div>
