<ng-template #manageAvatar>
  <div class="popup-container">
    <div class="popup-header">
      <h1>Change Avatar</h1>
    </div>

    <div class="content">
      <!-- Left Container -->
      <div class="left-container">
        <div class="profile-circle"
             [ngClass]="{
              'motion-preset-confetti': isUpdated,
              'motion-preset-fade': isReset
             }"
        >
          <tui-badged-content>
            <app-avatar
              [avatarUrl]="userInfo?.avatarUrl ?? null"
              [username]="userInfo?.username ?? null"
              [outline]="userInfo?.premium ?? false"
              [sizeInRem]=8
              size="xxl"
            >
            </app-avatar>

            @if (userInfo?.avatarUrl) {
              <tui-icon
                appearance="primary"
                icon="@tui.x"
                size="xl"
                tuiBadge
                tuiSlot="top"
                class="hover:opacity-80 cursor-pointer"
                (click)="deleteCurrentAvatar()"
              ></tui-icon>
            }
          </tui-badged-content>
        </div>

        <div class="upload-section">
          <app-file-upload
            (fileUploaded)="onFileUploaded($event)">
          </app-file-upload>
        </div>
      </div>

      <div class="divider"></div>

      <!-- Right Avatars Section -->
      <div class="avatars-container">
        <!-- Custom Avatars -->

        @for (avatar of customAvatars; track avatar) {
          <tui-badged-content
            class="avatar"
            [ngClass]="{
            'motion-preset-blink': avatar.id === deletedAvatarId,
          }"
          >
            <tui-icon
              appearance="primary"
              icon="@tui.x"
              size="m"
              tuiBadge
              tuiSlot="top"
              class="hover:opacity-80 cursor-pointer"
              (click)="deleteCustomAvatar(avatar.id)"
            ></tui-icon>
            <app-avatar
              [avatarUrl]="avatar.url"
              [outline]="false"
              size="xl"
              (click)="chooseAnotherCustomAvatar(avatar.id)"
            ></app-avatar>
          </tui-badged-content>
        }
        <!-- Default Avatars -->
        @for (avatarUrl of defaultAvatars; track avatarUrl) {
          <app-avatar
            [avatarUrl]="avatarUrl"
            [outline]="false"
            size="xl"
            class="avatar"
            (click)="chooseDefaultAvatar(avatarUrl)"
          ></app-avatar>
        }
      </div>
    </div>
  </div>
</ng-template>
