<app-confirm-modal
  [isVisible]="isConfirmTargetLangDeletionModalVisible"
  [title]="modalTitle"
  [message]="modalMessage"
  [confirmText]="modalConfirmText"
  (close)="closeTargetLangDeletionConfirmModal()"
  (confirm)="confirmTargetLangDeletion()"
  [useCountdown]="true">
</app-confirm-modal>

<app-navbar></app-navbar>

<div class="base-container">
  <app-settings-tabs></app-settings-tabs>

  <div class="section-block card">
    <div class="title">I Know</div>

    <div class="row-content">
      <app-fluent-language-selector
        *ngIf="fluentEditable"
        class="fluent-language-selector"
        [languages]="languages"
        [size]="'m'"
        [selectedLanguages]="currentFluentLanguages"
        (selectedFluentLanguages)="onFluentLanguagesSelected($event)"></app-fluent-language-selector>

      <div class="fluent-chips" *ngIf="!fluentEditable">
        <tui-chip *ngFor="let language of currentFluentLanguages"
                  [style.background-color]="language | tuiAutoColor">{{ language }}
        </tui-chip>
      </div>

      <app-edit-button
        class="edit-element"
        [disabled]="!(fluentEnabled$ | async)"
        [label]="'Save'"
        [editable]="fluentEditable"
        (clickFunction)="onFluentEdit()">
      </app-edit-button>
    </div>
  </div>
  <div class="section-block card">
    <div class="title">I'm Learning</div>

    <div class="row-content">
      <div class="segmented-block">
        <tui-scrollbar>
          <div class="tui-segmented-wrapper">
            <tui-segmented
              size="m"
              [(activeItemIndex)]="selectedTargetedLanguageIndex"
            >
              <button
                *ngFor="let language of currentTargetLanguages"
                type="button"
              >
                {{ language }}
              </button>
            </tui-segmented>
          </div>
        </tui-scrollbar>
      </div>
      <button
        class="black-n-white-button edit-btn circular-icon edit-element"
        (click)="navigateToLangSetup()"
      >
        <i class="fa-regular fa-plus text-base"></i>
      </button>
    </div>
  </div>

  <div class="danger section-block" *ngIf="currentTargetLanguages.length > 1">
    <span class="danger-text">Danger Zone</span>
    <button class="btn btn-danger" (click)="deleteTargetLang()">
      <tui-icon
        icon="@tui.trash-2"
        class="delete-icon"
        [style.height.px]="18"
        [style.width.px]="18"
      />
      Delete {{ currentTargetLanguages[selectedTargetedLanguageIndex] }}
    </button>
  </div>
</div>
