<ng-template #dropdownTemplate>
  <tui-data-list
    role="menu"
    tuiDataListDropdownManager
    class="context-menu">

    @if (selectedBook?.progressPercentage) {
      <button
        tuiOption
        type="button"
        class="context-button"
        (click)="undoProgress()"
      >
        <lucide-icon
          name="undo-dot"
        ></lucide-icon>
        Reset progress
      </button>
    }

  </tui-data-list>
</ng-template>


<div class="base-container read-container">
  <div class="filter-container">
    <tui-input
      [formControl]="titleFormControl"
      [tuiTextfieldLabelOutside]="true"
      class="search-input shadowless-input"
      tuiTextfieldIconLeft="@tui.search"
      tuiTextfieldSize="m"
    >
      Search
      <input
        tuiTextfieldLegacy
        type="text"
      />
    </tui-input>
    <div class="unit">
      <input
        tuiCheckbox
        type="checkbox"
        [ngModel]="filterByCefrToggle"
        (ngModelChange)="onFilterByCefrChange($event)"
        size="m"
      />

      Filter By Level
      <app-cefr-level-selector
        [levels]="cefrLevels"
        [control]="cefrLevelControl"
        class="shadowless-input"
      ></app-cefr-level-selector>
    </div>
    <div class="unit">
      <input
        tuiCheckbox
        type="checkbox"
        [ngModel]="includeTranslationsToggle"
        (ngModelChange)="onIncludeTranslationsChange($event)"
        size="m"
      />

      Include Translations
      <app-info-icon
        [tooltipText]="'You will read books that have been translated into the selected language, although their original language is different.'"
        [size]="20"
      ></app-info-icon>
    </div>

    <div class="unit">
      <input
        tuiCheckbox
        type="checkbox"
        [ngModel]="sortToggle"
        (ngModelChange)="onSortChange($event)"
        size="m"
      />

      Sort By
      <tui-select
        tuiTextfieldSize="m"
        class="shadowless-input"
        [formControl]="sortControl"
        [tuiTextfieldLabelOutside]="true"
      >
        <tui-data-list-wrapper
          *tuiDataList
          [items]="sortParameters"
        >
        </tui-data-list-wrapper>
      </tui-select>

      <lucide-icon
        (click)="toggleSortOrder()"
        [name]="sortIconName()"
        size="20"
        class="cursor-pointer"
      ></lucide-icon>
    </div>
    <div class="unit">
      <input
        tuiCheckbox
        type="checkbox"
        [ngModel]="parallelTranslationToggle"
        (ngModelChange)="onParallelTranslationChange($event)"
        size="m"
      />
      Parallel Translation
    </div>
  </div>

  <div class="books-container">
    @for (book of filteredBooks; track book) {
      <div class="book"
           tuiDropdownContext
           #dropdown="tuiDropdown"
           [tuiDropdown]="dropdownTemplate"
           (contextmenu)="onRightClick($event, book)"
      >
        <a
          routerLink="/book/{{ book.id }}"
          class="game-card ladder-card solo-game">
          <div class="game-img ladder-img">
            @if (book.hasParallelTranslation && !book.progressPercentage) {
              <app-parallel-translation
                tuiHintAppearance="dark"
                tuiHintDirection="bottom"
                [tuiHint]="tooltip"
                class="parallel"
              ></app-parallel-translation>
              <ng-template #tooltip>
                <div>Parallel mode in a language you understand</div>
              </ng-template>
            }
            @if (book.progressPercentage) {
              <label
                tuiProgressLabel
                class="progress"
              >
                <span class="percent">{{ book.progressPercentage }}%</span>

                <tui-progress-circle
                  size="xs"
                  [max]="100"
                  [value]="book.progressPercentage"
                  [style.color]="'#ff7f00'"
                />
              </label>
            }
            <img alt="book cover image" [src]="book.coverImageUrl"/>
            <div class="level-badge">{{ book.levelFrom }} - {{ book.levelTo }}</div>
            <div class="year-badge">{{ book.publicationYear }}</div>
          </div>
          <div class="description-section">
            <div class="flex flex-row justify-between">
              <div class="title">{{ book.title }}</div>
              <p class="rating"
                 tuiHintAppearance="dark"
                 tuiHintDirection="bottom"
                 [tuiHint]="tooltip"
              ><span class="star">⭐</span>{{ book.rating }}</p>
              <ng-template #tooltip>
                <div>out of 5 (Goodreads)</div>
              </ng-template>
            </div>
            <div class="description">
              {{ book.author }}, {{ book.publicationYear }}
            </div>
          </div>
        </a>
      </div>
    }
    @if (loading$ | async) {
      <div class="book"><a class="game-card ladder-card solo-game" [tuiSkeleton]="true"></a></div>
      <div class="book"><a class="game-card ladder-card solo-game" [tuiSkeleton]="true"></a></div>
      <div class="book"><a class="game-card ladder-card solo-game" [tuiSkeleton]="true"></a></div>
    } @else if (filteredBooks.length === 0) {
      <div class="no-found">No books found 🥲</div>
    }
  </div>
</div>
