.tabs-wrapper {
  background-color: var(--main-bg-color); /* Same as the desired background */
}

.settings-tabs {
  background-color: var(--main-bg-color);
  justify-content: center;
  margin: 0 auto;
}
