<app-particles></app-particles>

<div class="top-container">

  @if (showProgressStepper) {
  <div class="stepper-container card">
    <!--    MOBILE-->
    @if (isMobile) {
      <div class="mobile">
        <lucide-icon
          [ngClass]="{ disabled: backDisabled() }"
          class="navigate-icon"
          name="chevron-left"
          (click)="goBack()"
        ></lucide-icon>
        <progress
          size="s"
          class="progress"
          tuiProgressBar
          [max]="progressSteps.length"
          [segments]="progressSteps.length"
          [value]="progressStepIndex + 1"
        ></progress>
        <lucide-icon
          [ngClass]="{ disabled: forwardDisabled() }"
          class="navigate-icon"
          name="chevron-right"
          (click)="goForward()"
        ></lucide-icon>
      </div>
    }

    @if (!isMobile) {
      <tui-stepper
        [activeItemIndex]="progressStepIndex"
        [tuiTextfieldSize]="'l'"
      >
        @for (s of progressSteps; track s) {
          <button
            tuiStep
            type="button"
            [disabled]="!canNavigateTo(steps.indexOf(s))"
            (click)="goToStep(steps.indexOf(s))"
          >
            {{ s.charAt(0) + s.slice(1).toLowerCase() }}
          </button>
        }
      </tui-stepper>
    }
  </div>
  }

  <div class="step-content">

    @if (activeStep === SetupStep.WELCOME) {
      <app-welcome
        class="z-10"
        (continue)="updateActiveStep($event)"
      ></app-welcome>
    }

    <app-language-setup #languageSetupComponent (continue)="updateActiveStep($event)" (back)="goBack()"></app-language-setup>
    @if (activeStep === SetupStep.LANGUAGES && languageSetupComponent.content) {
      <ng-container *ngTemplateOutlet="languageSetupComponent.content"></ng-container>
    }

    @if (activeStep === SetupStep.LEVEL) {
      <app-level-setup (continue)="updateActiveStep($event)" (back)="goBack()" />
    }

    @if (activeStep === SetupStep.PROFILE) {
      <app-profile-setup
        (continue)="updateActiveStep($event)"
        (back)="goBack()"
      ></app-profile-setup>
    }

    @if (activeStep === SetupStep.INTERESTS) {
      <app-interests-setup
        [currentInterests]="userInfo?.interests ?? []"
        (back)="goBack()"
      ></app-interests-setup>
    }

    @if (activeStep === SetupStep.GREETING) {
      <app-onboarding-greeting />
    }
  </div>
</div>
