<app-particles></app-particles>
<paywall #paywallComponent></paywall>

<div class="top-container">

  <div class="stepper-container card">
    <!--    MOBILE-->
    <div class="mobile" *ngIf="smallScreen">
      <lucide-icon
        [ngClass]="{ disabled: backDisabled() }"
        class="navigate-icon"
        name="chevron-left"
        (click)="goBack()"
      ></lucide-icon>
      <progress
        size="s"
        class="progress"
        tuiProgressBar
        [max]="steps.length"
        [segments]="steps.length"
        [value]="activeStepIndex + 1"
      ></progress>

      <lucide-icon
        [ngClass]="{ disabled: forwardDisabled() }"
        class="navigate-icon"
        name="chevron-right"
        (click)="goForward()"
      ></lucide-icon>
    </div>

    <tui-stepper
      *ngIf="!smallScreen"
      [activeItemIndex]="activeStepIndex"
      [tuiTextfieldSize]="'l'"
    >
      <button
        tuiStep
        type="button"
        *ngFor="let s of steps; let i = index"
        [disabled]="!canNavigateTo(i)"
        (click)="goToStep(i)"
      >
        {{ s.charAt(0) + s.slice(1).toLowerCase() }}
      </button>
    </tui-stepper>
  </div>

  <div class="step-content">

    <app-welcome
      class="z-10"
      *ngIf="activeStep === SetupStep.WELCOME"
      (continue)="updateActiveStep($event)"
    ></app-welcome>

    <app-language-setup
      *ngIf="activeStep === SetupStep.LANGUAGES"
      (continue)="updateActiveStep($event)"
    ></app-language-setup>

    <div class="card plan">
      <ng-container *ngIf="activeStep === SetupStep.PLAN && paywallComponent?.content">
        <ng-container *ngTemplateOutlet="paywallComponent.content"></ng-container>
      </ng-container>
    </div>

    <app-profile-setup
      *ngIf="activeStep === SetupStep.PROFILE"
      (continue)="updateActiveStep($event)"
    ></app-profile-setup>

    <app-interests-setup
      [currentInterests]="userInfo?.interests ?? []"
      *ngIf="activeStep === SetupStep.INTERESTS"
    ></app-interests-setup>
  </div>
</div>
