@import '../settings.styles.less';

:host {
  --tui-background-accent-1: #5A1A74; // primary theme color, used for buttons, input fields, etc.
  --tui-status-negative: #ac1c1c; // error field box color
  --tui-text-negative: #ac1c1c; // error test color
  --tui-radius-m: 2rem;
}

.text {
  font-size: 1.3rem;
  color: var(--text-color);
  font-weight: 550;
  border-radius: 1rem;
  padding: .6rem;
  letter-spacing: .1rem;
}

.text.free {
  border: 2px solid var(--text-color);
}

.row-content {
  align-items: center;
}

// buttons
.cta {
  display: flex;
  width: 35%;
  height: 3rem;
  margin-left: auto;
}

// icons
.icon.renewal {
  margin-left: .5rem;
  border-radius: 50%;
  padding: .3rem;
  color: white;
}

.icon.renewal:hover {
  opacity: .8;
}

.icon.downgrade {
  --red: var(--danger-text-color);
  color: var(--red);
  background-color: var(--danger-bg-color);
  border-radius: 50%;
  padding: .3rem;
  margin: 0 .5rem 0 auto;
  cursor: pointer;
}

.icon.downgrade:hover {
  color: white;
  background-color: var(--red);
}

.interest-button {
  display: flex;
  margin-top: 1rem;
  width: 100%;
  height: 2.5rem;
}

.interests {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.interest-text {
  font-size: .8rem;
  color: var(--text-color);
  font-style: italic;
  padding: .6rem;
}

.edit-chip {
  --tui-text-action: var(--text-color);
  --tui-border-normal: var(--text-color);
  border: 1px dashed var(--text-color);
  box-shadow: unset;
}

.edit-chip:hover {
  background-color: var(--text-color);
  color: white;
  cursor: pointer;
}

.share-icon {
  cursor: pointer;
  margin-left: auto;
  color: var(--tui-background-accent-1);
  border-radius: .7rem;
  padding: .2rem;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-icon:hover {
  background-color: #fde2f0;
}

.hidden-btn {
  height: 1rem;
  gap: 1rem;
}
