<div class="tui-container">
  <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <div class="inner">
      <div class="logo-div">
        <img ngSrc="assets/img/icons/logo.svg" alt="Logo" class="logo" height="1481" width="1456">
        <img ngSrc="../../assets/img/titles/title-purple.svg" alt="Logo" class="title" height="483" width="1825">
      </div>
      <hr class="solid separator2">
      <div class="tui-col_8">
        <h3 class="greeting" [title]="currentLanguage" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
          {{ currentGreeting }}👋
        </h3>
        <div class="social-buttons">
          <button type="button" class="social-button google" (click)="onSocialLogin('google')">
            <i class="fab fa-google"></i>
          </button>
          <button type="button" class="social-button facebook" (click)="onSocialLogin('facebook')">
            <i class="fab fa-facebook-f"></i>
          </button>
          <button type="button" class="social-button apple" (click)="onSocialLogin('apple')">
            <i class="fab fa-apple"></i>
          </button>
        </div>

        <div class="separator"><b>OR</b></div>

        <div class="switch">
          <span (click)="toggleSignUp()" [class.active]="!isSignUp">SIGN IN</span>
          <span (click)="toggleSignUp()" [class.active]="isSignUp">SIGN UP</span>
        </div>

        <div class="tui-form__row">
          <tui-input formControlName="emailValue" tuiTextfieldSize="l" [tuiTextfieldLabelOutside]="true"
          >
            Email
            <input placeholder="Email" tuiTextfield/>
          </tui-input>
          <tui-error formControlName="emailValue" [error]="[] | tuiFieldError | async"></tui-error>
        </div>

        <div class="tui-form__row">
          <tui-input-password formControlName="passwordValue" [tuiTextfieldLabelOutside]="true"
          >Password
          </tui-input-password>
          <tui-error formControlName="passwordValue" [error]="[] | tuiFieldError | async"></tui-error>
        </div>
        <a *ngIf="!isSignUp" tuiLink (click)="onForgotPassword()" class="forgot-password-link">Forgot Password?</a>
        <div *ngIf="isSignUp" class="agree-with-terms">
          By signing up, you confirm that you accept our
          <a [href]="termsOfUseUrl" target="_blank">Terms of Use</a>
          and have read our
          <a [href]="privacyPolicyUrl" target="_blank">Privacy Policy</a>.
        </div>
        <div class="tui-form__buttons">
          <button type="submit"
                  class="text-white font-bold rounded-full auth-button">
            {{ isSignUp ? 'Sign Up' : 'Sign In' }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
