<ng-template #shareLink>
  <div class="popup-container">
    <h1 class="popup-header">{{ title }}</h1>

    <app-qr-code class="qr" [linkToEncode]="link" (click)="copy()"></app-qr-code>

    <div class="separator"></div>
    <div class="share-link-container">
      <input
        type="text"
        class="share-link-input"
        [value]="fieldText"
        (click)="copy()"
        readonly
      />
      <tui-icon
        [icon]="showCopied ? '@tui.check' : '@tui.copy'"
        size="xl"
        tuiBadge
        tuiSlot="top"
        class="hover:opacity-80 cursor-pointer"
        (click)="copy()"
      ></tui-icon>
    </div>
  </div>
</ng-template>
