<app-particles></app-particles>

<div class="headless-container">
  <div class="card">
    <div class="tui-col_8">
      <div class="tui-form__row">
        <!-- Rotating Logo -->
        <div class="logo-container" [ngClass]="{ rotating: isRotating }">
          <img
            src="../../../assets/img/logo/logo-on-white-circle.svg"
            alt="Logo"
            width="100"
            height="100"
          />
        </div>
        <div class="message">
          <p>{{ message }}</p>
        </div>
      </div>
      @if (verificationSuccess) {
        <div class="tui-form__buttons">
          <app-button
            label="Go Back to App"
            class="w-full"
            redirectUrl="/logout"
            appearance="gradient"
          ></app-button>
        </div>
      }
    </div>
  </div>
</div>
