.headless-container {
  background-color: var(--main-bg-color); // Keep background color
}

.tui-col_8 {
  padding: 20px;
  min-width: 300px; // Adjust min-width as needed
  max-width: 400px; // Example max-width
  box-sizing: border-box;
  display: flex; // Ensure content inside centers if needed
  justify-content: center;
  align-items: center;
}
