.navbar {
  display: flex;
  align-items: center;
  background-color: var(--main-bg-color);
  position: sticky;
  top: 0;
  z-index: 20;
}

.section {
  margin-left: 20px
}

.section:hover {
  color: var(--violet);
}

.navbar-content {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  min-height: var(--header-height);
  padding: .55rem 1rem;
}

.navbar-content::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--border-color);
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.spacer {
  flex-grow: 1;
}

.app-icon {
  height: 32px;
  width: 32px;
  background: center / contain no-repeat var(--brand-flat-logo-image);
  flex: 0 0 32px;
  margin: 0 .55rem;
}

a.nav-link {
  border-bottom: 1px solid transparent;
  font-size: 1.125rem;
  font-family: var(--font-family-reading);
  line-height: 1.4;
  margin-left: 0;
  padding: .2em 0;
  color: var(--text-color);
}

.nav-link.active-link {
  color: var(--brand-margin);
  border-bottom-color: var(--brand-margin);
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
  justify-content: end;
  flex-grow: 1;
}

.popover-menu {
  background: var(--overlay-color);
  padding: 0.5rem 0;
  box-shadow: var(--overlay-shadow);
  z-index: 10;
  border-radius: 25px;
  border: 1px solid var(--hairline-color);
  position: fixed;
  min-width: fit-content;
  top: 6em;
}
