.popup-container {
  width: 100%;
  background-color: var(--main-bg-color);
  padding: 1rem;
  border-radius: 0.5rem;
}

.popup-header {
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

