:root {
  --tui-primary: #7b1593; // primary theme color, used for buttons, input fields, etc.
  --main-bg-color: #F9F3F1;
  --header-height: 80px;
  --text-color: #3d3d3d;
  --font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  --box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
  --danger-bg-color: #ffe3e9;
  --danger-text-color: #fa4666;
  --warning-color: #ea6644;
  --border-color: #edebe8;
  --disabled-color: #e6e5e5;
  --disabled-text-color: #7e7e7e;
}
