<div [ngClass]="{'auth-modal-overlay': embeddedMode}">
  <app-particles
    *ngIf="mode === 'default'"
  ></app-particles>

  <div [ngClass]="{'headless-container': mode === 'default', 'modal-container': embeddedMode}">
    <app-dismiss-button *ngIf="embeddedMode" (close)="onClose()" [isOutside]="true"></app-dismiss-button>

    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
      <div class="card">

        <div *ngIf="mode === 'default'" class="logo-div">
          <div class="logo-container" [ngClass]="{ rotating: isRotating }">
            <img ngSrc="../../../assets/img/logo/logo.svg" alt="Logo" class="logo" height="1481" width="1456">
          </div>
          <img ngSrc="../../../assets/img/titles/title-purple.svg" alt="Logo" class="title" height="483" width="1825"
               priority>
        </div>

        <hr class="solid separator2">

        <div class="tui-col_8">
          <h3 class="greeting" *ngIf="mode === 'default'" [title]="currentLanguage" (mouseenter)="onMouseEnter()"
              (mouseleave)="onMouseLeave()">
            {{ currentGreeting }}👋
          </h3>

          <div class="social-buttons" *ngIf="mode !== 'linkLocal' && mode !== 'changeEmail'">
            <app-provider-icon
              *ngFor="let provider of providers"
              [provider]="provider"
              [connectedProviders]="this.providers"
              [clickOnLinked]="onSocialLogin"
            ></app-provider-icon>
          </div>

          <div *ngIf="this.showSeparatorAndForm">
            <div class="separator" *ngIf="mode !== 'linkLocal' && mode !== 'changeEmail'"><b>OR</b></div>

            <div class="switch" *ngIf="mode === 'default'">
              <span (click)="toggleSignUp()" [class.active]="!isSignUp">SIGN IN</span>
              <span (click)="toggleSignUp()" [class.active]="isSignUp">SIGN UP</span>
            </div>

            <div class="row-1">
              <tui-textfield
                tuiTextfieldSize="l"
                data-size="l"
                [tuiTextfieldLabelOutside]="true"
              >
                <input
                  tuiTextfield
                  formControlName="emailValue"
                  type="email"
                  placeholder="Email"
                  [readOnly]="this.mode === 'linkLocal'"
                />
              </tui-textfield>
              <tui-error formControlName="emailValue" [error]="[] | tuiFieldError | async"></tui-error>
            </div>

            <div class="row-2">
              <tui-textfield
                tuiTextfieldSize="l"
                data-size="l"
              >
                <input
                  tuiTextfield
                  [tuiTextfieldLabelOutside]="true"
                  formControlName="passwordValue"
                  type="password"
                  placeholder="Password"
                />
                <tui-icon tuiPassword/>
              </tui-textfield>
              <tui-error formControlName="passwordValue" [error]="[] | tuiFieldError | async"></tui-error>
            </div>

            <div class="forgot-div" *ngIf="!isSignUp && mode === 'default'">
              <a tuiLink (click)="onForgotPassword()" class="forgot-password-link">Forgot Password?</a>
            </div>

            <div *ngIf="isSignUp && mode === 'default'" class="agree-with-terms">
              By signing up, you confirm that you accept our <br>
              <a [routerLink]="termsOfUseUrl" target="_blank">Terms of Use</a> and have read our
              <a [routerLink]="privacyPolicyUrl" target="_blank">Privacy Policy</a>.
            </div>
            <div>
              <button type="submit" class="gradient-button auth-btn">
                {{ mode === 'linkLocal' || mode === 'changeEmail' ? 'Link Account' : isSignUp ? 'Sign Up' : 'Sign In' }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
