<ngx-particles
  *ngIf="particlesOptions$ | async as particlesOptions"
  [id]="id"
  [options]="particlesOptions"
  (particlesLoaded)="particlesService.particlesLoaded($event)"
></ngx-particles>

<div class="tui-container">
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="card">
      <div class="tui-col_8">
        <h3 class="tui-form__header tui-form__header_margin-top_none">Reset Password</h3>

        <div class="tui-form__row">
          <tui-input-password formControlName="newPassword" [tuiTextfieldLabelOutside]="true">Password
          </tui-input-password>
          <tui-error formControlName="newPassword" [error]="[] | tuiFieldError | async"></tui-error>
        </div>

        <div class="tui-form__buttons">
          <button type="submit"
                  class="gradient-button">
            Reset Password
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
