<app-particles></app-particles>

<div class="headless-container">
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="card">
      <div class="tui-col_8">
        <h3 class="tui-form__header tui-form__header_margin-top_none">Reset Password</h3>

        <div class="tui-form__row">
          <tui-textfield
            tuiTextfieldSize="l"
            data-size="l"
          >
            <input
              tuiTextfield
              [tuiTextfieldLabelOutside]="true"
              formControlName="newPassword"
              type="password"
              placeholder="Password"
            />
            <tui-icon tuiPassword/>
          </tui-textfield>
          <tui-error formControlName="newPassword" [error]="[] | tuiFieldError | async"></tui-error>
        </div>

        <div class="tui-form__buttons">
          <button type="submit"
                  class="gradient-button">
            Reset Password
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
