.close-button {
  cursor: pointer;
}

.outer-close {
  position: absolute;
  top: -2em;
  right: -2em;
  background-color: var(--overlay-color);
  border-radius: 50%;
  z-index: 2;
}

.inner-close {
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
}
