<ng-template #langSetup>
  <div class="card step" (tuiActiveZoneChange)="onActiveZoneChange($event)">
    <div class="tui-header header-row"
         [style.padding]="onSecondForm ? '0 3rem' : ''"
    >
      @if (onSecondForm) {
        <lucide-icon
          class="go-back-icon"
          name="circle-chevron-left"
          (click)="onSecondForm = false"
        ></lucide-icon>
      }

      {{ onSecondForm ? 'Assess Your Level' : embeddedMode ? 'Add New Languages' : 'Choose Your Languages' }}
      @if (onSecondForm) {
        <app-info-icon
          class="info-btn"
          [size]=25
          [strokeWidth]="1.75"
          tooltipText="CEFR stands for Common European Framework of Reference for Languages.">
        </app-info-icon>
      }

    </div>
    @if (!onSecondForm) {
      <form [formGroup]="languageForm" (ngSubmit)="submitFirstStepForm()" class="">
        <!-- Fluent Languages-->
        @if (!embeddedMode) {
          <div class="form-group">
            <label>I'm fluent in</label>
            <app-fluent-language-selector
              [languages]="supportedLanguages"
              [selectedLanguages]="cachedFluentLanguages"
              (selectedFluentLanguages)="listenToFluentForm($event)"
            ></app-fluent-language-selector>
          </div>
        }
        <!-- Target Languages -->
        <div class="form-group">
          <label>I want to learn</label>
          <tui-multi-select
            formControlName="targetLanguages"
            placeholder="Start typing..."
            [autoColor]="true"
            [tuiTextfieldCleaner]="true"
            (searchChange)="targetSearch$.next($event ?? '')"
          >
            Languages you want to master
            <tui-data-list-wrapper
              *tuiDataList
              [labels]="labels"
              [items]="filteredTargetLanguages$ | async"
            ></tui-data-list-wrapper>
          </tui-multi-select>
          <tui-error
            formControlName="targetLanguages"
            [error]="[] | tuiFieldError | async"
          ></tui-error>
        </div>
        @if (!selectedTargetLanguageFeatures.special.length && !selectedTargetLanguageFeatures.basic.length) {
          <div
            class="bg-blue-50 text-blue-900 rounded-lg p-4 flex items-start space-x-2 mb-4">
            <div class="text-left">
              <p class="text-sm break-words whitespace-normal max-w-[20rem]">
                <span class="inline-block text-yellow-500">💫</span> Some languages have special features.
              </p>
              <p class="text-sm break-words whitespace-normal max-w-[20rem]">
                <span class="inline-block text-purple-500">✔️</span> Core functionality is available for all of them.
              </p>
            </div>
          </div>
        }
        <!-- Features Display -->
        @if (featuresVisible()) {
          <div class="features"
          >
            <div class="columns">
              <!-- Special Features Column -->
              @if (selectedTargetLanguageFeatures.special.length > 0) {
                <div class="special-features">
                  <h4>Special Features</h4>
                  <ul class="features-list">
                    @for (feature of selectedTargetLanguageFeatures.special; track feature) {
                      <li>
                        💫 {{ feature.feature }}
                        @if ((targetLanguageControl.value?.length || 0) > 1) {
                          <span>
                            ({{ feature.languages.join(', ') }})
                          </span>
                        }
                      </li>
                    }
                  </ul>
                </div>
              }
              <!-- Basic Features Column -->
              <div class="basic-features">
                <h4>Core Features</h4>
                <ul class="features-list">
                  @for (feature of selectedTargetLanguageFeatures.basic; track feature) {
                    <li>
                      ✔️ {{ feature.feature }}
                    </li>
                  }
                </ul>
              </div>
            </div>
          </div>
        }
        <!-- Submit Button -->
        <button
          type="submit"
          [disabled]="languageForm.invalid"
          class="gradient-button"
        >
          Continue
        </button>
      </form>
    }

    <!--    Second Step -->
    @if (onSecondForm) {
      <form [formGroup]="cefrForm" (ngSubmit)="submitSecondStepForm()">
        <div class="cefr-form">
          <div formArrayName="languages" class="cefr-rows">
            @for (i of languages.controls; track i; let idx = $index) {
              <div
                [formGroupName]="idx"
                class="cefr-language-row"
              >
                <tui-chip
                  class="cefr-lang-chip"
                  [style.background-color]="languages.at(idx).get('language')?.value | tuiAutoColor"
                >
                  {{ languages.at(idx).get('language')?.value }}
                </tui-chip>
                <app-cefr-level-selector
                  [control]="getCefrLevelControl(idx)"
                  [levels]="cefrLevels"
                ></app-cefr-level-selector>
              </div>
            }
          </div>
        </div>
        <app-button
          appearance="gradient"
          [label]="isDataChanged? 'Save & Continue' : 'Continue'"
          [loading$]="loading$"
          [disabled]="cefrForm.invalid"
        ></app-button>
      </form>
    }
  </div>
</ng-template>
