<app-confirm-modal
  [isVisible]="isConfirmModalVisible"
  [title]="modalTitle"
  [message]="modalMessage"
  [confirmText]="modalConfirmText"
  (close)="closeConfirmModal()"
  (confirm)="confirmModalAction()"
  [useCountdown]="false">
</app-confirm-modal>

<div class="preview-card" (mouseleave)="onMouseLeave()" [ngClass]="publicProfile ? 'card' : ''">
  @if (userProfileInfo) {
    <div>
      <div class="first-row">
        <app-avatar [username]="userProfileInfo.username"
                    [avatarUrl]="userProfileInfo.avatarUrl"
                    [outline]="userProfileInfo.isPremium"
                    size="m"
        ></app-avatar>
        <div class="right-hand">
          <p class="username">{{ userProfileInfo.username }}</p>
          <p class="member-since">🐣 {{ formatDate(userProfileInfo.registeredAt) }}</p>
        </div>
        @if (!publicProfile) {
          <lucide-icon name="ellipsis-vertical"
                       class="ml-auto cursor-pointer"
                       [size]="20"
                       #friendDropdown="tuiDropdown"
                       tuiDropdown
                       (tuiActiveZoneChange)="closeActionsDropdown($event, friendDropdown)"
                       [tuiDropdown]="friendDropdownTemplate"
                       tuiDropdownAlign="right"
                       (click)="friendDropdown.toggle(true)"
          >
            <ng-template #friendDropdownTemplate>
              <tui-data-list
                role="menu"
                tuiDataListDropdownManager
                class="context-menu">
                @if (userProfileInfo.relationshipStatus === 'FRIENDS') {
                  <button
                    new
                    tuiOption
                    type="button"
                    class="context-button negative"
                    (click)="prepareUnfriendModal(); friendDropdown.toggle(false)"
                  >
                    <lucide-icon name="user-round-x"
                                 class="chat-icon negative"
                                 [size]="18"
                    ></lucide-icon>
                    Unfriend
                  </button>
                }
                @if (userProfileInfo.relationshipStatus === 'BLOCKED') {
                  <button
                    new
                    tuiOption
                    type="button"
                    class="context-button negative"
                    (click)="unblock(); friendDropdown.toggle(false)"
                  >
                    <lucide-icon name="handshake"
                                 class="chat-icon negative"
                                 [size]="18"
                    ></lucide-icon>
                    Unblock
                  </button>
                } @else {
                  <button
                    new
                    tuiOption
                    type="button"
                    class="context-button negative"
                    (click)="prepareBlockModal(); friendDropdown.toggle(false)"
                  >
                    <lucide-icon name="ban"
                                 class="chat-icon negative"
                                 [size]="18"
                    ></lucide-icon>
                    Block
                  </button>
                }
              </tui-data-list>
            </ng-template>
          </lucide-icon>
        }

      </div>

      @if (!userProfileInfo.hidden) {
        <div class="separator"></div>

        <div class="sections">
          <section class="fluent">
            Fluent in
            @for (fluent of userProfileInfo.fluentLangs.slice(0, MAX_FLUENT_LANGS); track fluent) {
              <label
                tuiChip
                size="xs"
                appearance="neutral"
                [style.background-color]="fluent | tuiAutoColor"
              >
                <input
                  hidden
                  type="checkbox"
                />
                {{ fluent }}
              </label>
            }
            @if (userProfileInfo.fluentLangs.length > MAX_FLUENT_LANGS) {
              <label
                tuiChip
                size="xxs"
                appearance="neutral"
              >
                <input
                  hidden
                  type="checkbox"
                />
                +{{ userProfileInfo.fluentLangs.length - MAX_FLUENT_LANGS }} more
              </label>
            }
          </section>
          <section class="target">
            Learning
            @for (target of userProfileInfo.targetLangs.slice(0, MAX_TARGET_LANGS); track target) {
              <label
                tuiChip
                size="xs"
                appearance="neutral"
                [style.background-color]="target.language | tuiAutoColor"
              >
                <input
                  hidden
                  type="checkbox"
                />
                {{ target.language }}
                <p class="inner-text">{{ target.cefrLevel }}</p>
              </label>
            }
            @if (userProfileInfo.targetLangs.length > MAX_TARGET_LANGS) {
              <label
                tuiChip
                size="xs"
                appearance="neutral"
              >
                <input
                  hidden
                  type="checkbox"
                />
                +{{ userProfileInfo.targetLangs.length - MAX_TARGET_LANGS }} more
              </label>
            }
          </section>
          <div class="separator"></div>
          <section class="likes">
            Likes
            @for (interest of userProfileInfo.interests.slice(0, MAX_INTERESTS); track interest) {
              <label
                tuiChip
                size="xxs"
                appearance="neutral"
                [style.background-color]="interest | tuiAutoColor"
              >
                <input
                  hidden
                  type="checkbox"
                />
                {{ interest }}
              </label>
            }
            @if (userProfileInfo.interests.length > MAX_INTERESTS) {
              <label
                tuiChip
                size="xxs"
                appearance="neutral"
              >
                <input
                  hidden
                  type="checkbox"
                />
                +{{ userProfileInfo.interests.length - MAX_INTERESTS }} more
              </label>
            }
          </section>
        </div>
      }

      @if (!publicProfile && buttonConfig.label) {
        <app-button
          [label]="buttonConfig.label"
          appearance="bw"
          gap=".4rem"
          [loading$]="loading$"
          (clickFunction)="buttonConfig.action()"
        >
          <lucide-icon
            [name]="buttonConfig.icon"
            size="14"
          ></lucide-icon>
        </app-button>
      }
    </div>
  } @else {
    <div class="first-row">
      <app-avatar size="m" [loading]="true"></app-avatar>
      <div class="right-hand">
        <p class="username" [tuiSkeleton]="true">f</p>
        <p class="member-since" [tuiSkeleton]="true">f</p>
      </div>
    </div>
  }
</div>
