button {
  border: 0;
  padding: 0;
  background: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
  }
}
