.super-container {
  display: flex;
  flex-direction: row;
  background-color: var(--main-bg-color);
  height: calc(100vh - var(--header-height));
  padding-top: 1rem;
  width: 100%;
}

[tuiAppearance][data-appearance=textfield] {
  --t-shadow: initial !important;
}

.right-container {
  display: flex;
  background-color: var(--main-bg-color);
  width: 100%;
  padding-right: 1.5rem;
  flex: 2;

  .chat-window {
    width: 100%;
    height: 100%;
    border-radius: 0 2rem 0 0; /* Only top corners are rounded */
    background-color: white;
    border-top: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
  }

  stream-channel {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: inherit; /* Inherits border-radius from parent */
    overflow: hidden;
  }

  stream-channel-header,
  stream-message-list,
  stream-notification-list,
  stream-message-input {
    border-radius: inherit;
  }
}

.left-container {
  display: flex;
  flex-direction: column;
  max-width: min(50%, 640px);
  min-width: 15rem;
  background-color: var(--main-bg-color);
  overflow: hidden;

  .chats-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0 0 0 0; /* Only top-right corner is rounded */
    border-top: 1px solid var(--border-color);
    width: 100%;
    flex: 1; /* Ensures it takes up all available space inside .left-container */
    min-height: 0; /* Prevents flexbox overflow issues */
    overflow: hidden; /* Keeps it contained */

    .channel-list {
      flex: 1; /* Takes up remaining space inside .chats-container */
      min-height: 0; /* Ensures proper overflow behavior */
      overflow-y: auto; /* Enables scrolling without overflowing */

      .preview-tile {
        display: flex;
        flex-direction: column;
        row-gap: .4rem;
      }

      ::ng-deep .str-chat__channel-preview {
        column-gap: 1em;
      }

      ::ng-deep .stream-chat__paginated-list {
        overflow-y: auto;
      }
    }

    .chat-input {
      --tui-radius-m: 2rem;
      --tui-font-text-m: normal 1.1rem/1.25rem var(--tui-font-text);
      padding: .5rem;

      input {
        background-color: var(--gray-bg);
      }
    }

    .chats-header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 1rem;
      padding: 1rem;
    }

    .chats {
      display: flex;
      flex-direction: column;

      .chat-tile {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: .6rem 0 .6rem .5rem;

        &:hover {
          background-color: var(--grey-color);
          cursor: pointer;
        }
      }
    }

    .no-matches-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      gap: 1rem;

      .no-matches-text {
        font-size: 1.1rem;
        font-weight: 600;
      }
    }
  }
}

.search-container {
  --tui-radius-m: 2rem;
  --tui-font-text-m: normal 1.1rem/1.25rem var(--tui-font-text);
  width: 20rem;

  .username-input {
    margin-bottom: 1rem;
  }
}

.username {
  font-size: 1.1rem;
  font-weight: 600;
  display: inline;
  margin-left: .9rem;
}

.user-tile {
  padding: .5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 20rem;


  .friend-action {
    margin-left: auto;
    cursor: pointer;
    padding: .5rem;

    &.negative {
      color: var(--danger-text-color);
    }

    &.positive {
      color: var(--tui-background-accent-1);
    }

    &.secondary {
      margin-left: unset;
    }

    &:hover {
      opacity: .8;
    }
  }
}

.tiles {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.drawer-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; /* Override the default center alignment */
  height: 100%;
  align-self: stretch; /* Ensure it stretches fully */
  gap: 1rem;

  .menu-tiles {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    .menu-tile {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: .5rem;
      width: 100%;
      max-width: 20rem;
      font-size: 1.5rem;
      height: 4rem;

      .menu-icon {
        margin: 0 1rem;
      }

      &:hover {
        background-color: var(--grey-color);
        cursor: pointer;
      }
    }
  }

  .no-results {
    font-size: 1.3rem;
    line-height: 1.5;
  }

  .requests-toggle {
    width: 20rem;
    --tui-radius-l: 2rem;

    .btn-text {
      width: 50%;
    }
  }
}


.drawer {
  top: 0;
  border-radius: 0;
  inline-size: 24rem;
  background-color: var(--main-bg-color);
}

.header-text {
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.header {
  position: sticky;
  background-color: var(--main-bg-color) !important;

  .header-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
  }

  .header-text {
    padding: .2rem;
  }

  app-dismiss-button {
    margin-left: auto;
  }
}

.context-button {
  display: flex;
  justify-content: flex-start;
  gap: .8rem;

  &.negative {
    color: var(--danger-text-color);
  }
}

.chat-icon {
  color: var(--text-color);

  &.negative {
    color: var(--danger-text-color);
  }
}

::ng-deep .str-chat__message-textarea:placeholder-shown {
  min-height: 1.3em
}

::ng-deep .str-chat__icon {
  color: var(--chat-accent-color);
}

// my messages color
::ng-deep .str-chat__message.str-chat__message--me .str-chat__message-bubble {
  background-color: var(--chat-lite);
}

::ng-deep .str-chat__reaction-selector {
  .str-chat__message-reactions-options {
  @include utils . component-layer-overrides('message-reactions-options');

    .str-chat__message-reactions-option {
    @include utils . component-layer-overrides('message-reactions-option');

      &:hover {
        background-color: var(--chat-lite);
      }

      &.str-chat__message-reactions-option-selected {
        background-color: var(--chat-bg-color);
      }
    }
  }
}

// three dot on message action
::ng-deep .str-chat__message-action-icon {
  .str-chat__icon {
    color: var(--chat-accent-color) !important;
  }
}

// read icon on my messages
::ng-deep .str-chat__message.str-chat__message--me {
  .str-chat__icon {
    color: white;
  }
}

// text of interlocutor's messages
::ng-deep .str-chat__message-text-value {
  color: black;
}

// interlocutor's messages color
::ng-deep .str-chat__message .str-chat__message-bubble {
  background-color: white;
}

// main chat background
::ng-deep .str-chat__list {
  background-color: var(--chat-bg-color);
}

// input field color
::ng-deep .str-chat__message-input {
  background-color: white;
}

// input field text color
::ng-deep .str-chat__message-input .str-chat__message-textarea-container .str-chat__message-textarea {
  color: black;
}

// remove border from input field
::ng-deep .str-chat__message-input .str-chat__message-textarea-container {
  border: none;
}

// default, right chat window header
::ng-deep .str-chat__channel-header {
  background-color: white;
  color: black;
}

::ng-deep .str-chat__channel-preview {
  &--active,
  &-messenger--active {
    // selected chat preview
    background-color: var(--chat-accent-color);
    color: white;

    // Ensure hover does not affect active state
    &:hover {
      background-color: var(--chat-accent-color) !important;
    }

    .str-chat__icon {
      color: white;
    }

    .str-chat__channel-preview-messenger--time {
      color: white;
    }

    .online-indicator-buffer {
      background-color: var(--chat-accent-color) !important;
    }

    .str-chat__avatar--online-indicator {
      background-color: white !important;
    }
  }

  &:hover {
    background-color: var(--gray-bg);

    .online-indicator-buffer {
      background-color: var(--gray-bg);
    }
  }
}

// message reactions container
::ng-deep .str-chat__message-reactions-container .str-chat__message-reactions .str-chat__message-reaction.str-chat__message-reaction-own {
  background-color: white;
}

::ng-deep .str-chat__message .str-chat__message-metadata, .str-chat__message .str-chat__custom-message-metadata {
  color: white;
}

// in chat window, separator lines for timeline
::ng-deep .str-chat__date-separator {
  color: white;
}

::ng-deep .str-chat__date-separator-line {
  background-color: white;
}

// You have no channels currently, No chats here yet...
::ng-deep .str-chat__channel-list-empty {
  color: var(--chat-accent-color) !important;
}

::ng-deep .str-chat__empty-channel-text {
  color: var(--chat-accent-color) !important;
}

// You can't send messages in this channel
::ng-deep .str-chat__message-input .str-chat__message-input-not-allowed {
  color: var(--chat-bg-color);
}

// barely visible grey separator on the right side of the channel list
::ng-deep .str-chat-channel-list {
  border: none;
}

.single-digit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px; /* Default size for single digit */
  height: 20px;
  min-width: 20px;
  padding: 0 4px; /* Ensures double-digit numbers have more space */
  border-radius: 50%; /* Default: fully circular */
}

// unread messages indicator
::ng-deep .str-chat__channel-preview .str-chat__channel-preview-end-first-row .str-chat__channel-preview-unread-badge {
  background: var(--chat-accent-color);
}

// unread messages indicator
::ng-deep .str-chat__channel-preview .str-chat__channel-preview-end .str-chat__channel-preview-end-first-row .str-chat__channel-preview-unread-badge {
  padding: 0 6px;
}

// chat window, unread messages notification
::ng-deep .str-chat__unread-messages-notification button {
  color: white;
  background-color: var(--chat-accent-color);

  .str-chat__icon {
    color: white;
  }
}


// unread message separator in chat window
::ng-deep .str-chat__unread-messages-separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
  margin: 1rem 0;
  background-color: transparent;
}

::ng-deep .str-chat__unread-messages-separator::before,
::ng-deep .str-chat__unread-messages-separator::after {
  content: "";
  flex: none;
  width: 38%;
  height: var(--str-chat__spacing-px);
  background-color: white;
}

::ng-deep .str-chat__unread-messages-separator::before {
  margin-right: 1rem;
}

::ng-deep .str-chat__unread-messages-separator::after {
  margin-left: 1rem;
}

@media (max-width: 1024px) {
  .right-container {
    padding-right: 0;

    .chat-window {
      border-radius: 0;
    }
  }
}

@media (max-width: 640px) {
  .drawer {
    min-width: 100vw;
  }
}

.hidden-chat-icon {
  cursor: pointer;
  margin-left: auto;
}

.search-icon {
  display: none;
}

@media (min-width: 640px) {
  .back-to-channels {
    display: none;
  }
}

@media (max-width: 640px) {
  .right-container {
    display: none;
  }

  .left-container {
    width: 100%;
    max-width: 100%;
  }

  /* When chat is open, hide channel list */
  .left-container.hidden {
    display: none;
  }

  /* Show chat when it's active */
  .right-container.active {
    display: block;
    width: 100%;
  }
}

.resizer {
  width: 3px;
  background: var(--border-color);
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  cursor: ew-resize;
  user-select: none;
}

.left-container.collapsed {
  ::ng-deep .str-chat__channel-preview .str-chat__channel-preview-end {
    display: none;
  }

  width: 76px;
  min-width: unset;

  .chats-container {
    .chats-header {
      &:hover,
      &:focus {
        background-color: var(--grey-color);
      }

      .header-text.chats {
        display: none;
      }

      .hidden-chat-icon {
        display: none;
      }
    }

    .chat-input {
      display: none;
    }

    .search-header {
      display: flex;
      justify-content: center;
      padding: 1rem 0;

      &:hover {
        background-color: var(--grey-color);
        cursor: pointer;
      }

      .search-icon {
        display: inline;
      }
    }
  }
}
