<tui-drawer
  *tuiPopup="isDrawerOpened()"
  direction="left"
  class="drawer"
  [overlay]="true"
  (click.self)="closeDrawer()"
>
  <ng-template #skeletonLoader>
    <div class="user-tile card h-14" [tuiSkeleton]="true"></div>
  </ng-template>

  <header class="header">
    <div class="header-inner pb-1">
      <lucide-icon [name]="drawerIcon"
                   class="cursor-pointer max-h-fit"
                   (click)="setDrawerMode('menu')"
      ></lucide-icon>
      <p class="header-text">{{ drawerHeader }}</p>
      <app-dismiss-button [relative]="true" (close)="closeDrawer()"></app-dismiss-button>
    </div>
  </header>
  <div class="drawer-container">
    @if (drawerMode === 'menu') {
      <div class="menu-tiles">
        <div class="menu-tile card" (click)="setDrawerMode('friends')">
          <lucide-icon name="users-round" class="menu-icon" [size]="24"></lucide-icon>
          <p class="menu-text">Friends</p>
        </div>
        <div class="menu-tile card" (click)="setDrawerMode('blocked')">
          <lucide-icon name="ban" class="menu-icon" [size]="24"></lucide-icon>
          <p class="menu-text">Blocked</p>
        </div>
        <div class="menu-tile card" (click)="setDrawerMode('requests')">
          <lucide-icon name="user-round-plus" class="menu-icon" [size]="24"></lucide-icon>
          <p class="menu-text">Requests</p>
        </div>
      </div>
    }

    @if (drawerMode === 'requests') {
      <tui-segmented
        size="l"
        class="requests-toggle"
        [(activeItemIndex)]="requestsIndex"
        (activeItemIndexChange)="onRequestsIndexChange($event)"
      >
        <button type="button" class="btn-text">Received</button>
        <button type="button" class="btn-text">Sent</button>
      </tui-segmented>
    }
    <tui-scrollbar class="w-full p-1">
      <div class="tiles">
        @if (isDrawerDataLoading()) {
          @for (i of range(3); track i) {
            <ng-container [ngTemplateOutlet]="skeletonLoader"
                          [ngTemplateOutletContext]="{ count: 3 }"></ng-container>
          }
        } @else {
          @if (drawerMode !== 'menu' && drawerUserTiles.length === 0) {
            <p class="no-results">
              {{ noResultMessage }}
            </p>
          }
          @for (friend of drawerUserTiles; track friend) {
            <div class="user-tile card">
              <app-avatar [avatarUrl]="friend.avatarUrl"
                          [username]="friend.username"
                          [size]="'m'"
              ></app-avatar>
              <p class="username">{{ friend.username }}</p>

              @if (drawerMode === 'friends') {
                <lucide-icon name="ellipsis"
                             class="friend-action positive"
                             [size]="20"
                             #friendDropdown="tuiDropdown"
                             tuiDropdown
                             [tuiDropdown]="friendDropdownTemplate"
                             (click)="friendDropdown.toggle(true); openFriendDropdown(friend.id)"
                >
                  <ng-template #friendDropdownTemplate>
                    <tui-data-list
                      role="menu"
                      tuiDataListDropdownManager
                      class="context-menu">
                      <button
                        tuiOption
                        type="button"
                        class="context-button"
                        (click)="openChatWithFriend(friend.id)"
                      >
                        <lucide-icon name="message-circle"
                                     class="chat-icon"
                                     [size]="18"
                        ></lucide-icon>
                        Message
                      </button>
                      <button
                        tuiOption
                        type="button"
                        class="context-button"
                        (click)="unfriend(friend.friendshipId)"
                      >
                        <lucide-icon name="user-round-x"
                                     class="chat-icon"
                                     [size]="18"
                        ></lucide-icon>
                        Unfriend
                      </button>
                      <button
                        tuiOption
                        type="button"
                        class="context-button"
                        (click)="block(friend.id, friend.friendshipId)"
                      >
                        <lucide-icon name="ban"
                                     class="chat-icon"
                                     [size]="18"
                        ></lucide-icon>
                        Block
                      </button>
                    </tui-data-list>
                  </ng-template>
                </lucide-icon>
              }

              @if (drawerMode === 'blocked') {
                <lucide-icon name="x"
                             class="friend-action negative primary"
                             [size]="20"
                             (click)="unblock(friend.id, friend.friendshipId)"
                ></lucide-icon>
              }

              @if (drawerMode === 'requests') {
                @if (requestsIndex === 0) {
                  @if (friend.friendshipStatus === FriendshipStatus.PENDING) {
                    <lucide-icon name="user-round-plus"
                                 class="friend-action positive"
                                 [size]="20"
                                 (click)="acceptFriendRequest(friend)"
                    ></lucide-icon>
                    <lucide-icon name="x"
                                 class="friend-action negative secondary"
                                 [size]="20"
                                 (click)="rejectFriendRequest(friend.friendshipId)"
                    ></lucide-icon>

                  }
                  @if (friend.friendshipStatus === FriendshipStatus.FRIENDS) {
                    <lucide-icon name="message-circle"
                                 class="friend-action positive"
                                 [size]="20"
                                 (click)="openChatWithFriend(friend.id)"
                    ></lucide-icon>
                  }
                }
                @if (requestsIndex === 1) {
                  <lucide-icon name="x"
                               class="friend-action negative"
                               [size]="20"
                               (click)="cancelFriendRequest(friend.friendshipId)"
                  ></lucide-icon>
                }
              }
            </div>
          }
        }
      </div>
    </tui-scrollbar>
  </div>
</tui-drawer>

<div class="super-container">
  <div class="left-container">
    <div class="chats-container">
      <header class="chats-header">
        <lucide-icon name="menu"
                     class="cursor-pointer"
                     (click)="openDrawerAndSetupData()"
        ></lucide-icon>

        <p class="header-text">Chats</p>
        <lucide-icon [name]="showHiddenChannels$.value ? 'eye-closed' : 'eye'"
                     class="ml-auto cursor-pointer"
                     (click)="toggleHiddenChats()"
        ></lucide-icon>
      </header>
      <tui-input
        [formControl]="chatFormControl"
        [tuiTextfieldLabelOutside]="true"
        class="friend-input shadowless-input"
      >
        Search
        <input
          tuiTextfieldLegacy
          type="text"
        />
      </tui-input>
      <div class="channel-list">

        <stream-channel-list>
          <ng-template #avatarTemplate
                       let-channel="channel"
                       let-location="location"
                       let-imageUrl="imageUrl"
                       let-user="user"
                       let-name="name"
                       let-type="type"
          >
            <div class="avatar-wrapper"
                 (mouseenter)="startAvatarHover(channel)"
                 (mouseleave)="stopAvatarHover()">

              <app-custom-chat-avatar
                class="custom-chat-avatar"
                [type]="type"
                [channel]="channel"
                [user]="user"
                [name]="name"
                [imageUrl]="imageUrl"
                [location]="location"
                [showOnlineIndicator]="true"
                #avatarDropdown="tuiDropdown"
                (mouseleave)="avatarDropdown.toggle(false)"
                tuiDropdownHover
                [tuiDropdown]="dropdownTemplate"
                (click)="openUser(location)"
              >
                <ng-template #dropdownTemplate>
                  @if (location === 'channel-preview'
                  && hoveredChannel !== null
                  && isPrivateChat(hoveredChannel)) {
                    ID: {{ getInterlocutorId() }}
                  }
                </ng-template>
              </app-custom-chat-avatar>

            </div>
          </ng-template>

          <ng-template
            #channelPreview
            let-channelDisplayTitle="channelDisplayTitle"
            let-channel="channel"
            let-unreadCount="unreadCount"
            let-latestMessageText="latestMessageText"
            let-latestMessageStatus="latestMessageStatus"
            let-latestMessageTime="latestMessageTime"
          >
            <div
              #dropdown="tuiDropdown"
              class="preview-tile"
              tuiDropdownContext
              [tuiDropdown]="contextMenu"
              (contextmenu)="dropdown.toggle(true)"
            >
              <ng-template #contextMenu>

                <tui-data-list
                  role="menu"
                  tuiDataListDropdownManager
                  class="context-menu">

                  @if (amMember(channel)) {
                    @if (!isHiddenChannel(channel)) {
                      <button
                        tuiOption
                        type="button"
                        class="context-button"
                        (click)="hideChat(channel, dropdown)"
                      >
                        <lucide-icon name="eye-closed"
                                     class="chat-icon"
                                     [size]="18"
                        ></lucide-icon>
                        Hide
                      </button>
                    } @else {
                      <button
                        tuiOption
                        type="button"
                        class="context-button"
                        (click)="showChat(channel, dropdown)"
                      >
                        <lucide-icon name="eye"
                                     class="chat-icon"
                                     [size]="18"
                        ></lucide-icon>
                        Show
                      </button>
                    }
                  }

                  @if (amMember(channel) && !isSelfChat(channel)) {
                    @if (isChannelMuted(channel)) {
                      <button
                        tuiOption
                        type="button"
                        class="context-button"
                        (click)="unmuteChat(channel, dropdown)"
                      >
                        <lucide-icon name="bell"
                                     class="chat-icon"
                                     [size]="18"
                        ></lucide-icon>
                        Unmute
                      </button>
                    } @else {
                      <button
                        tuiOption
                        type="button"
                        class="context-button"
                        (click)="muteChat(channel, dropdown)"
                      >
                        <lucide-icon name="bell-off"
                                     class="chat-icon"
                                     [size]="18"
                        ></lucide-icon>
                        Mute
                      </button>
                    }
                  }

                  @if (isPrivateChat(channel) || isSelfChat(channel)) {
                    <button
                      tuiOption
                      type="button"
                      class="context-button"
                      (click)="truncateChat(channel, dropdown)"
                    >
                      <lucide-icon name="circle-x"
                                   class="chat-icon"
                                   [size]="18"
                      ></lucide-icon>
                      Clear
                    </button>
                  }

                  @if (isPrivateChat(channel)) {
                    <button
                      tuiOption
                      type="button"
                      class="context-button"
                      (click)="deleteChat(channel, dropdown)"
                    >
                      <lucide-icon name="trash"
                                   class="chat-icon"
                                   [size]="18"
                      ></lucide-icon>
                      Delete
                    </button>
                  }

                  @if (isPublicChannel(channel)) {
                    @if (!amMember(channel)) {
                      <button
                        tuiOption
                        type="button"
                        class="context-button"
                        (click)="joinChannel(channel, dropdown)"
                      >
                        <lucide-icon name="log-in"
                                     class="chat-icon"
                                     [size]="18"
                        ></lucide-icon>
                        Join
                      </button>
                    }

                    @if (amMember(channel)) {
                      <button
                        tuiOption
                        type="button"
                        class="context-button"
                        (click)="leaveChannel(channel, dropdown)"
                      >
                        <lucide-icon name="log-out"
                                     class="chat-icon"
                                     [size]="18"
                        ></lucide-icon>
                        Leave
                      </button>
                    }
                  }

                </tui-data-list>
              </ng-template>

              <div class="str-chat__channel-preview-end-first-row">
                <div class="str-chat__channel-preview-messenger--name">
                      <span data-testid="channel-preview-title">
                      {{ getChatName(channel, channelDisplayTitle) }}
                      </span>
                </div>
                <div
                  *ngIf="unreadCount"
                  data-testid="unread-badge"
                  class="str-chat__channel-preview-unread-badge"
                >
                  {{ unreadCount }}
                </div>
                <lucide-icon name="bell-off"
                             *ngIf="isChannelMuted(channel)"
                             class="chat-icon"
                             [size]="18"
                ></lucide-icon>
              </div>

              <div class="str-chat__channel-preview-end-second-row">
                <div
                  data-testid="latest-message"
                  class="str-chat__channel-preview-messenger--last-message"
                >
                  <ng-container *ngIf="displayAs === 'text'; else asHTML">
                    {{ latestMessageText | translate }}
                  </ng-container>
                  <ng-template #asHTML>
                <span
                  data-testid="html-content"
                  [innerHTML]="latestMessageText | translate"
                ></span>
                  </ng-template>
                </div>
                <div
                  *ngIf="latestMessageStatus"
                  data-testid="latest-message-status"
                  class="str-chat__channel-preview-messenger--status str-chat__channel-preview-messenger--status-{{
                    latestMessageStatus
                      }}"
                >
                  <stream-icon-placeholder
                    [icon]="latestMessageStatus === 'delivered' ? 'delivered' : 'read'"
                  ></stream-icon-placeholder>
                </div>
                <div
                  *ngIf="latestMessageTime"
                  data-testid="latest-message-time"
                  class="str-chat__channel-preview-messenger--time"
                >
                  {{ latestMessageTime }}
                </div>
              </div>
            </div>
          </ng-template>
        </stream-channel-list>
      </div>

      <!-- Show matched friends when searching -->
      @if (!isNotFiltered() && matchedFriends.length > 0) {
        <div class="matched-friends-container">
          @for (friend of matchedFriends; track friend) {
            <div class="chat-tile"
                 (click)="sendFriendRequest(friend.id)"
            >
              <app-avatar [avatarUrl]="friend.avatarUrl"
                          [username]="friend.username"
                          [size]="'m'">
              </app-avatar>
              <p class="username">{{ friend.username }}</p>
            </div>
          }
        </div>
      }

      <!-- Show message when no matches found after searching -->
      @if (!isNotFiltered() && nothingFound) {
        <div class="no-matches-container">
          <p class="no-matches-text">No matches found.</p>
        </div>
      }
    </div>
  </div>

  <div class="right-container">
    <div class="chat-window">
      <stream-channel>
        <ng-template #customHeaderTemplate let-channel="channel">
          <app-chat-header [channel]="channel"></app-chat-header>
        </ng-template>

        <stream-channel-header></stream-channel-header>
        <stream-message-list></stream-message-list>
        <stream-notification-list></stream-notification-list>
        <stream-message-input></stream-message-input>
      </stream-channel>
    </div>
    @if (false) {
      <div class="search-container">
        <tui-input
          [formControl]="usernameFormControl"
          [tuiTextfieldLabelOutside]="true"
          class="username-input"
          tuiTextfieldIconLeft="@tui.user-search"
        >
          Type a username
          <input
            tuiTextfieldLegacy
            type="text"
            (keydown.enter)="searchNewUsers()"
          />
        </tui-input>
        <div class="tiles">
          @for (friend of matchedUsers; track friend) {
            <div class="user-tile card">
              <app-avatar [avatarUrl]="friend.avatarUrl"
                          [username]="friend.username"
                          [size]="'m'"
              ></app-avatar>
              <p class="username">{{ friend.username }}</p>
              <lucide-icon [name]="requestedIds.includes(friend.id) ? 'bell' : 'user-round-plus'"
                           class="friend-action"
                           (click)="sendFriendRequest(friend.id)"
                           [ngClass]="{ 'motion-preset-shake': requestedIds.includes(friend.id) }"
                           [size]="20"
              ></lucide-icon>
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>
