<ng-template #avatarPicker>
  <div class="avatar-picker">
    <h1>Choose an avatar</h1>
    <p>Keep your initials or choose one of Almonium's animals.</p>
    <div class="avatar-choices">
      <button type="button" class="avatar-choice" [class.selected]="!userInfo.avatarUrl" (click)="useInitials()">
        <app-avatar [avatarUrl]="null" [username]="userInfo.username" size="xl" />
        <span>Initials</span>
      </button>
      @for (avatarUrl of defaultAvatars; track avatarUrl) {
        <button type="button" class="avatar-choice" [class.selected]="avatarUrl === userInfo.avatarUrl" (click)="chooseAvatar(avatarUrl)">
          <app-avatar [avatarUrl]="avatarUrl" [username]="userInfo.username" size="xl" />
          <span>Animal</span>
        </button>
      }
    </div>
  </div>
</ng-template>

<div class="avatar-preview">
  <app-avatar [avatarUrl]="userInfo.avatarUrl" [username]="userInfo.username" size="xl" />
  <button type="button" aria-label="Change avatar" (click)="open()"><lucide-icon name="pencil" [size]="15" /></button>
</div>
