:host {
  --tui-background-accent-1: #83397f;
  --tui-background-accent-1-hover: var(--pale-purple);
  --tui-background-accent-1-pressed: var(--purple-dark);
  --tui-text-action: var(--dark-raspberry);
  --tui-text-action-hover: var(--lavender);
}
