.circular-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%; /* Ensures the shape is a circle */
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-btn {
  background-color: white;
  height: 40px;
  color: var(--text-color);
  border-color: var(--text-color);
}

.edit-btn:hover {
  background-color: var(--text-color);
  height: 40px;
  color: white;
  border-color: var(--text-color);
}

.disabled {
  background-color: var(--disabled-color);
  color: var(--disabled-text-color);
  border-color: var(--disabled-color);
  pointer-events: none; /* Prevents hover effects and click events */
}

/* Ensure hover doesn't change the appearance if disabled */
.edit-btn.disabled:hover {
  background-color: var(--disabled-color);
  color: var(--disabled-text-color);
  border-color: var(--disabled-color);
}
