<div class="row-content">
  @if (!usernameEditable) {
    <label
      [ngClass]="userInfo?.premium ? 'premium-text' : 'gradient-text'"
      [style.font-size]="usernameFontSize"
      class="username-label flex items-center"
    >&#64;{{ userInfo?.username }}
    </label>
  }

  @if (usernameEditable) {
    <form
      [formGroup]="usernameForm"
      class="username-form"
      (ngSubmit)="onUsernameEditClick()"
    >
      <tui-textfield
        #username
        tuiTextfieldSize="m"
        [tuiTextfieldLabelOutside]="true"
      >
        <input
          tuiTextfield
          formControlName="usernameValue"
          placeholder="Username"
          [readOnly]="!usernameEditable"
        />
      </tui-textfield>
      @if (isLoading) {
        <div>Checking availability...</div>
      }
      <tui-error
        formControlName="usernameValue"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </form>
  }
  <!--todo replace with app-info-icon-->
  <lucide-icon
    name="info"
    class="info-btn"
    tuiHintAppearance="dark"
    tuiHintDirection="top"
    size="30"
    [strokeWidth]="1.5"
    [tuiHint]="usernameTooltip"
  >
    <ng-template #usernameTooltip>
      <div [innerHTML]="tooltipUsername"></div>
    </ng-template>
  </lucide-icon>

  <app-edit-button
    class="edit-element"
    [disabled]="
      (usernameEditable && !usernameForm.valid)
      || isLoading
    "
    [label]="'Change'"
    [editable]="usernameEditable"
    [loading$]="loading$"
    (clickFunction)="onUsernameEditClick()"
  >
  </app-edit-button>
</div>
