<ng-template #upgrade>
  <div class="content">
    <div class="text motion-preset-slide-up motion-duration-1500">
      {{ onboardingMode ? 'Welcome to' : 'Upgraded to ' }}
      <div class="premium-text"
           [class.motion-preset-confetti]="celebrate"
           [class.motion-duration-1500]="celebrate">
        Premium
      </div>
    </div>

    <app-button
      [label]="onboardingMode ? 'Continue' : 'Enjoy the Platform'"
      (clickFunction)="handleClick()"
      [customClass]="'motion-preset-slide-up motion-duration-1500'"
      appearance="gradient"
    ></app-button>
  </div>
</ng-template>
