@import '../../onboarding/onboarding.styles.less';

.text {
  font-size: 3rem;
  font-weight: bold;
  color: var(--text-color);
  text-align: center;
  line-height: 1;
}

.premium-text {
  display: inline-block;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.gradient-button {
  width: fit-content;
  padding: 0 2rem;
}
