<ng-template #upgrade>
  <div class="content">
    <div i18n class="text motion-preset-slide-up motion-duration-1500">
      {onboardingMode, select, true {Welcome to} other {Upgraded to}}
      <div class="premium-text"
           [class.motion-preset-confetti]="celebrate"
           [class.motion-duration-1500]="celebrate">
        Premium
      </div>
    </div>

    <app-button
      [label]="buttonLabel"
      (clickFunction)="handleClick()"
      [customClass]="'motion-preset-slide-up motion-duration-1500'"
      appearance="gradient"
    ></app-button>
  </div>
</ng-template>
