<div class="">
  <tui-textfield
    multi
    tuiChevron
    class="cefr-select"
    tuiTextfieldSize="m"
  >
    <input
      tuiInputChip
      [formControl]="fluentLanguageControl"
      [placeholder]="(fluentLanguageControl.value?.length ?? 0) ? '' : 'Start typing...'"
    />

    <!-- default chip view (remove if you use a custom chip component) -->
    <tui-input-chip *tuiItem/>

    @if (filteredFluentLanguages$ | async; as items) {
      <tui-data-list-wrapper
        *tuiTextfieldDropdown
        new
        tuiMultiSelectGroup
        [items]="items"
      />
    }
  </tui-textfield>

  <tui-error
    [formControl]="fluentLanguageControl"
    [error]="[] | tuiFieldError | async"
  />
</div>
