<div class="">
  <div class="">
    <tui-textfield
      multi
      tuiChevron
      class="cefr-select"
    >
      <input
        #chipInput
        tuiInputChip
        [formControl]="fluentLanguageControl"
        [placeholder]="(fluentLanguageControl.value?.length ?? 0) ? '' : 'Start typing...'"
        (input)="onType($event)"
        (keydown)="trapSeparators($any($event))"
        (keydown.enter)="onEnter($any($event))"
      />
      <!-- default chip view (remove if you use a custom chip component) -->
      <tui-input-chip *tuiItem/>

      @if (filteredFluentLanguages$ | async; as items) {
        <tui-data-list-wrapper
          *tuiTextfieldDropdown
          new
          tuiMultiSelectGroup
          [items]="items"
          (itemClick)="onPick($event.item)"
        />
      }
    </tui-textfield>

    <tui-error
      [formControl]="fluentLanguageControl"
      [error]="[] | tuiFieldError | async"
    />
  </div>
</div>
