<div class="autocomplete-container">
  <div class="input-group">
    <div
      contenteditable="true"
      class="search-input"
      [(ngModel)]="searchText"
      (input)="onSearchChange(searchText)"
      (keydown)="handleKeydown($event)"
      autofocus>
    </div>
  </div>
  <ul *ngIf="filteredOptions.length > 0" class="autocomplete-list">
    <li
      *ngFor="let option of filteredOptions; let i = index"
      (click)="onOptionSelected(option)"
      class="autocomplete-item"
      [class.autocomplete-item-focused]="isOptionFocused(i)"
    >
      {{ option }}
    </li>
  </ul>
  <div *ngIf="frequency > 0">
    <tui-badge
      size='l'
      class="custom-2 tui-space_left-3"
    >
      {{ frequency }}
    </tui-badge>
  </div>
</div>
