.left-section, .right-section {
  height: auto;
  width: 50%; /* Side-by-side in wide screens */
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-img {
  padding-right: 5em;
  max-width: 50vw; /* Keep the image responsive to width */
  max-height: 40vh; /* Prevent the image from exceeding 80% of the viewport height */
  object-fit: contain; /* Ensure that the entire image fits within the container */
}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.not-found-title {
  font-size: min(5vh, 5vw); /* Responsive font size based on viewport width */
  color: #000000;
  font-weight: bold;
  margin-bottom: 1em;
}

.not-found-caption {
  font-size: min(3vh, 3vw); /* Responsive font size based on viewport width */
  color: #333333;
  margin-bottom: 1.5em;
  line-height: 1.5;
}

.go-back-container {
  margin-top: 10px;
}

.go-back-link {
  display: inline-block;
  text-decoration: none;
  font-size: min(3vh, 3vw); /* Responsive font size based on viewport width */
  color: #ffffff;
  background-color: #000000;
  padding: min(2vh, 2vw) min(3vh, 3vw);
  border: none;
  border-radius: min(6vh, 6vw);
  transition: background-color 0.3s ease, transform 0.3s ease;
  white-space: nowrap; /* Prevent wrapping */
  overflow: hidden; /* Hide overflow if it occurs */
  text-overflow: ellipsis; /* Add ellipsis if text overflows */
}

.go-back-link:hover {
  background-color: #333333;
  transform: translateY(-2px);
}

/* Media Queries for responsiveness */
@media (max-width: 900px) {
  .base-container {
    flex-direction: column; /* Stack elements vertically on smaller screens */
  }

  .left-section, .right-section {
    width: 100%; /* Full width for both sections */
    padding: 1rem; /* Adjust padding for smaller screens */
  }

  .not-found-img {
    padding-right: unset;
  }

  .right-section {
    align-items: center; /* Center align the test */
    text-align: center; /* Center test */
  }

  .not-found-title {
    font-size: min(6vh, 6vw); /* Responsive font size based on viewport width */
  }

  .not-found-caption {
    font-size: min(4vh, 4vw); /* Responsive font size based on viewport width */
  }

  .go-back-link {
    padding: min(3vh, 3vw) min(6vh, 6vw);
    font-size: min(4vh, 4vw);
  }
}

@media (max-height: 500px) {
  .left-section {
    padding: 1rem; /* Reduce padding on smaller heights */
  }
}
