<ng-template #paywallContent>
  <div class="popup-container">
    <div class="popup-header">
      <h1>
        Compare Plans
      </h1>
    </div>
    <div class="tui-segmented-wrapper">
      <tui-segmented
        size="m"
        class="segmented"
        [(activeItemIndex)]="selectedMode"
      >
        <button type="button" class="btn-text">Monthly</button>
        <button type="button" class="btn-text yearly-btn">
          <span>Yearly</span>
          <span class="discount-badge">-15%</span>
        </button>
      </tui-segmented>
    </div>
    <div class="cards">
      <div
        tuiCardLarge
        class="plan-section free"
        tuiAppearance="outline"
      >
        <div class="plan-content">
          <div class="header free">
            <h1 tuiTitle>
              Free
            </h1>
          </div>
          <div class="features">
            <div class="feature" *ngFor="let feature of freeFeatures">
              <div style="">
                <tui-icon icon="check"></tui-icon>
              </div>
              <span>{{ feature }}</span>
            </div>
          </div>
        </div>
        <footer>
          <div class="price">
            <span class="price-value">$0</span>
            <span class="price-period">/ forever</span>
          </div>

          <app-button
            [label]="planChosen ? 'Current Plan' : 'Start for Free'"
            [loading$]="loading$"
            [disabled]="planChosen"
            [fontSize]="16"
            [padding]="'.88rem 0'"
            (click)="chooseFreePlan()"
            class="plan-btn"
            appearance="bw"
          ></app-button>
        </footer>
      </div>

      <div
        tuiAppearance="floating"
        tuiCardLarge
        class="plan-section premium custom-transition hover:scale-105"
      >
        <div class="shining-effect"></div>
        <div class="plan-content">
          <div class="header">
            <h1 tuiTitle class="premium-text">
              Premium
            </h1>
          </div>
          <div class="premium-star-badge">
            <img
              src="assets/img/icons/premium-star.svg"
              alt="Premium"
            />
          </div>

          <div class="features">
            <div class="feature" *ngFor="let feature of premiumFeatures">
              <div>
                <tui-icon [icon]="getIcon(feature)" aria-hidden="true"></tui-icon>
              </div>
              <span>{{ feature }}</span>
            </div>
          </div>
        </div>
        <footer>
          <div class="price">
            <span class="price-value">${{ currentPriceValue }}</span>
            <span class="price-period">{{ currentPricePeriod }}</span>
          </div>
          <app-interactive-cta-button [text]="planChosen ? 'Upgrade' : 'Go Premium'" class="cta"
                                      (buttonClick)="subscribeToPlan()"
          ></app-interactive-cta-button>
        </footer>
      </div>
    </div>
  </div>
</ng-template>
