<div class="flex justify-center flex-col">
  @if (!control.value) {
    <label tuiInputFiles>
      <input accept="image/*" tuiInputFiles [formControl]="control"/>
      <ng-template let-dragged>
        @if (dragged) {
          <div class="content">
            <tui-avatar
              appearance="secondary"
              src="@tui.droplet"
            />
            <div>
              Drop it like it's hot!
            </div>
          </div>
        } @else {
          <div class="content">
            <tui-avatar
              appearance="secondary"
              src="@tui.cloud-upload"
            />
            <div>
              <a tuiLink>Choose a file</a> <br>
              or drop it here
            </div>
          </div>
        }
      </ng-template>
    </label>
  }

  <tui-files class="tui-space_top-1">
    @if (control.value | tuiFileRejected: {accept: 'image/*'} | async; as file) {
      <tui-file
        state="error"
        [file]="file"
        (remove)="removeFile()"
      ></tui-file>
    }

    @if (loadedFiles$ | async; as file) {
      <tui-file
        class="loaded-file"
        [file]="file"
        (remove)="removeFile()"
      ></tui-file>
    }

    @if (failedFiles$ | async; as file) {
      <tui-file
        state="error"
        [file]="file"
        (remove)="removeFile()"
      ></tui-file>
    }

    @if (loadingFiles$ | async; as file) {
      <tui-file
        state="loading"
        [file]="file"
        (remove)="removeFile()"
      ></tui-file>
    }
  </tui-files>
</div>
