<app-manage-avatar></app-manage-avatar>

<nav class="navbar">
  <div class="navbar-content">
    <div class="logo-container relative" (click)="onLogoClick()" (clickOutside)="discoverOnClickOutside($event)">
      <app-gif-player [replayTrigger]="replayGifSubject" class="app-icon"></app-gif-player>
    </div>

    @if (!isMobile) {
      <div>
        @if (this.uiPreferences.navbar.discover) {
          <a
            routerLink="/discover"
            class="nav-link ml-8 section"
            [ngClass]="{'active-link': currentRoute === '/discover'}">
            Discover
          </a>
        }
        @if (this.uiPreferences.navbar.review) {
          <a
            routerLink="/review"
            class="nav-link ml-8 section"
            [ngClass]="{'active-link': currentRoute === '/review'}">
            Review
          </a>
        }
        @if (this.uiPreferences.navbar.play) {
          <a
            routerLink="/games"
            class="nav-link ml-8 section"
            [ngClass]="{'active-link': currentRoute === '/games'}">
            Games
          </a>
        }
      </div>
    }

    <div class="nav-actions">
      <div class="lang-dropdown" (clickOutside)="langsOnClickOutside($event)">
        <div class="relative lang-dropdown">
          <button (click)="toggleLanguageDropdown()" class="badge-btn text-lg"
                  [ngStyle]="getButtonStyles(currentLanguage)">
            {{ currentLanguage }}
          </button>
          <!-- Dropdown Menu (direct continuation of the button) -->

          @if (isLanguageDropdownOpen) {
            <div
              class="dropdown-menu absolute left-0 mt-0 w-full rounded-b-md shadow-lg z-10"
              (keydown)="handleKeydown($event)">
              <div class="py-1">
                @for (lang of filteredLanguages; track lang; let i = $index) {
                  <button
                    #dropdownItem
                    tabindex="0"
                    [ngStyle]="getButtonStylesDropDown(lang)"
                    [class.focused]="i === focusedLangIndex"
                    (click)="changeLanguage(lang)"
                    class="lang-option block w-full px-4 py-2 text-center text-sm text-gray-700 hover:bg-pink-100">
                    {{ lang }}
                  </button>
                }
              </div>
            </div>
          }
        </div>
      </div>

      @if (uiPreferences.navbar.notifications) {
        <div class="btn-notification relative" (click)="toggleNotificationPopover()"
             (clickOutside)="notificationOnClickOutside($event)">
          <button>
            <img ngSrc="assets/img/icons/bell.svg" alt="Notification Icon" class="notification-icon" height="40"
                 width="40"/>
          </button>
        </div>
      }

      <!-- Navbar User Profile Section -->
      <div class="user-profile relative" (click)="toggleProfilePopover()"
           (clickOutside)="profileOnClickOutside($event)">
        <app-profile-picture
          class="profile-circle"
          [avatarUrl]="userInfo?.avatarUrl ?? null"
          [username]="userInfo?.username ?? null"
          [outline]="userInfo?.premium ?? false"
          size="m"
          [sizeInRem]=3
        >
        </app-profile-picture>
        <!-- Popover Menu -->
      </div>
    </div>
  </div>
</nav>

<!-- Popover Menu for App Icon (Only on Mobile Screens) -->
@if (isDiscoverMenuOpen) {
  <div
    class="popover-menu left-4 max-w-1 rounded-lg shadow-lg border-2 border-gradient-to-r from-purple-500 to-pink-500 mobile-only">
    <div class="menu-section">
      <hr class="border-gray-200"/>
      <!-- Menu Items -->
      <div class="menu-items p-2">
        <a routerLink="/home" class="menu-item flex items-center p-2 rounded-md hover:bg-gray-100 transition">
          <img ngSrc="/assets/img/icons/home.svg" alt="Home Icon" class="w-5 h-5 mr-2" height="512"
               width="512">
          <!--        TODO lucide icons-->
          <span>Home</span>
        </a>

        @if (uiPreferences.navbar.discover) {
          <a routerLink="/discover" class="menu-item flex items-center p-2 rounded-md hover:bg-gray-100 transition">
            <img ngSrc="/assets/img/icons/discover.svg" alt="Discover Icon" class="w-5 h-5 mr-2" height="512"
                 width="512">
            <span>Discover</span>
          </a>
        }
        @if (uiPreferences.navbar.review) {
          <a routerLink="/review" class="menu-item flex items-center p-2 rounded-md hover:bg-gray-100 transition">
            <img ngSrc="/assets/img/icons/review.svg" alt="Review Icon" class="w-5 h-5 mr-2" height="512"
                 width="512">
            <span>Review</span>
          </a>
        }
        @if (uiPreferences.navbar.play) {
          <a routerLink="/games" class="menu-item flex items-center p-2 rounded-md hover:bg-gray-100 transition">
            <img ngSrc="/assets/img/icons/games.svg" alt="Games Icon" class="w-5 h-5 mr-2" height="512"
                 width="512">
            <span>Games</span>
          </a>
        }
      </div>
    </div>
  </div>
}

@if (isProfilePopoverOpen) {
  <div
    class="popover-menu menu2 right-4 max-w-xs rounded-lg shadow-lg border-2 border-gradient-to-r from-purple-500 to-pink-500">
    <div class="menu-section">
      <div class="user-details flex items-center">
        <!-- Profile Picture -->
        <app-profile-picture
          [avatarUrl]="userInfo?.avatarUrl ?? null"
          [username]="userInfo?.username ?? null"
          [outline]="userInfo?.premium ?? false"
          class="mr-3 cursor-pointer"
          size="m"
          (click)="openChangeAvatarPopup()"
        >
        </app-profile-picture>
        <!-- User Info -->
        <div class="user-info overflow-hidden">
          <span class="font-semibold truncate block username">{{ userInfo?.username || 'Anonymous Learner' }}</span>
          <p class="text-sm text-gray-500 truncate block">{{ userInfo?.email || 'Not logged in' }}</p>
        </div>
      </div>
      <div class="separator"></div>
      <hr class="border-gray-200"/>
      <!-- Menu Items -->
      <div class="menu-items p-2">
        <a routerLink="/settings" class="menu-item flex items-center p-2 rounded-md hover:bg-gray-100 transition">
          <img ngSrc="/assets/img/icons/settings.svg" alt="gear icon" class="w-5 h-5 mr-2" height="40" width="40">
          <span>Settings</span>
        </a>
        <div class="separator"></div>
        <a routerLink="/logout" class="menu-item flex items-center p-2 rounded-md hover:bg-gray-100 transition">
          <img ngSrc="/assets/img/icons/logout.svg" alt="logout icon" class="w-5 h-5 mr-2" height="64" width="64">
          <span>Logout</span>
        </a>
      </div>
    </div>
  </div>
}

@if (isNotificationOpen) {
  <div
    class="popover-menu right-4 max-w-xs rounded-lg shadow-lg border-2 border-gradient-to-r from-purple-500 to-pink-500">
    <div class="menu-section">
      <hr class="border-gray-200"/>
      You have no new notifications.
    </div>
  </div>
}
