@import '../navbar-base.less';

.icon-badge {
  background: none;
  border: none;
  cursor: pointer;
  order: 2; /* Place the notification button after the language dropdown */
}

.notification-icon {
  height: 1.3rem;
  width: 1.3rem;
}

.lang-dropdown {
  order: 1; /* Place the language dropdown in the middle */
  margin: 0 auto;
}

/* Make notification icon and profile circle stay fixed */
.icon-badge, .profile-circle {
  flex-shrink: 0; /* Prevent these elements from shrinking */
}

// for tui-badge-notification red dot
::ng-deep .t-badge_top {
  top: 2px !important;
  right: 2px !important;
}

.dropdown-menu {
  box-shadow: none;
}

.dropdown-menu.block {
  transform: translateY(0); /* Fix dropdown starting position */
}

.lang-option:hover {
  scale: 1.05;
  opacity: 1;
}

.lang-option {
  min-width: 0; /* Make all elements take equal space */
  border-radius: 25%;
  padding: .3rem .6rem;
  font-family: Arial, Helvetica, sans-serif; /* Sans-serif font */
  box-shadow: var(--box-shadow);
  background-color: #fff;
  margin-top: .3rem;
  opacity: 0.9;
  letter-spacing: 1px;
}

.user-profile {
  cursor: pointer;
  display: flex;
  align-items: center;
  order: 3;
}

.profile-circle {
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  margin: 0 1rem;
  object-fit: cover;
}

.menu-section {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  max-height: 60vh;
}

.user-details {
  display: flex;
  align-items: center;
  padding: .5rem 0;
}

.user-info {
  overflow: hidden; /* Prevents overflowing of long test */
  white-space: nowrap;
}

.user-info span, .user-info p {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.5;
}

.menu-items {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.menu-item img {
  transition: transform 0.2s;
}

.menu-item:hover img {
  transform: scale(1.05);
}

.menu-item {
  color: #333;
  min-width: 5rem;
}

.separator {
  width: 100%;
  padding-top: 1px;
  background: #eaeaea;
  margin: .2rem 0;
}

.username {
  font-size: 1.05rem;
}

.navbar-icon {
  padding: .15rem;
  border-radius: 50%;
  color: var(--text-color);

  &:hover {
    color: var(--violet);
  }
}

.circular-icon {
  margin-top: 2px;
  height: 1.5rem;
  width: 1.5rem;
  padding: unset;
  border-radius: 50%; /* Ensures the shape is a circle */
  display: flex;
  color: var(--purple-dark);
  background: var(--lavender);
  background: #eabcd8;
  font-weight: 550;
  justify-content: center;
  align-items: center;
}

.title-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}

.popover-title {
  font-size: 1.3rem;
  font-weight: 550;
  padding: 0.75rem .75rem 0.75rem 1.5rem;
}

.notifications {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    app-button {
      padding: 0 1rem;
      color: var(--purple-dark);
      font-size: 1rem;
      font-weight: 550;
      height: fit-content;
    }
  }

  .menu-section {

    .notification-item {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: flex-start;
      align-items: center;
      min-height: 3rem;
      height: fit-content;
      color: black;
      width: 20rem;

      .notification-message {
        font-size: 0.8rem;
      }

      .notification-content {
        display: flex;
        flex-direction: column;
        gap: .2rem;


        .notification-title {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-weight: 550;
          font-size: 0.9rem;
          white-space: normal; /* Allow title to wrap */
          word-wrap: break-word; /* Prevent words from breaking mid-way, let them break naturally */
          overflow-wrap: break-word; /* Ensures long words are properly wrapped */

          p {
            font-size: 0.7rem;
            color: #999;
            white-space: nowrap; /* Prevent the relative time from wrapping */
            text-overflow: ellipsis; /* Add ellipsis if text overflows */
            overflow: hidden;
            min-width: fit-content;
            margin-left: .25rem;
          }
        }
      }
    }
  }
}
