.reader-content {
  font-family: var(--font-family);
  color: var(--text-color);
  font-size: 20px;
  line-height: 1.5;
  white-space: pre-line; /* Respect newlines and spaces */
  max-width: fit-content;
  margin: 0 auto;
}
