.base-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 2em;
}

.section-block {
  min-height: fit-content;
  width: 400px;
  padding: 1.3em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 20px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  padding: 0 0 0.3em .2em;
  color: var(--text-color);
  font-family: var(--font-family);
}

.row-content {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.edit-element {
  margin-left: auto;
  margin-top: 2px;
}
