:host {
  --tui-primary: #5A1A74; // primary theme color, used for buttons, input fields, etc.
  --tui-error-fill: #ac1c1c; // error field box color
  --tui-negative: #ac1c1c; // error test color
  --tui-radius-m: 50px;
}

.email-form {
  min-width: 50%;
  display: flex;
  flex-direction: row;
}

.email-field {
  min-width: 100%;
}

.verified-icon {
  color: #69bd69;
  display: flex;
  justify-content: center;
  margin-left: 1em;
  margin-top: 9px;
}

.unverified-icon {
  .verified-icon;
  color: var(--warning-color);
}

.email-waiting {
  .verified-icon;
  color: #f0ad4e;
}

.edit-element {
  margin-left: auto;
}

.email-content {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.password-content {
  .email-content;
}

.base-container {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 100%;
  gap: 2em;
}

.card {
  box-shadow: unset;
}

.providers {
  display: flex;
  flex-direction: row;
}

.provider-block {
  padding: 1em;
  border: 1px solid var(--border-color);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.action-btn {
  width: 100%;
  margin: 1rem 0 0 0;
}

.unlink-btn {
  padding: 0.5em 1em;
  box-sizing: border-box;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 550;
  color: black;
  background: none;
  text-decoration: underline;
}

.unlink-btn:hover {
  background-color: #f0f0f0;
  text-decoration: none;
  cursor: pointer;
}

.social-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;
  padding: 0;
}

.section-block {
  min-height: fit-content;
  width: 400px;
  padding: 1.3em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 25px;
}

.icon {
  width: 22px;
  height: 22px;
  margin-right: 6px;
  margin-top: 1px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  padding: 0 0 0.3em .2em;
  color: var(--text-color);
  font-family: var(--font-family);
}

// delete account
.danger {
  background-color: var(--danger-bg-color);
  color: var(--danger-text-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.danger-text {
  font-size: 18px;
  font-weight: 500;
}

.btn-danger {
  border: 1px solid red;
  border-radius: 35px;
  padding: 15px 30px;
  font-size: 15px;
  background-color: white;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.delete-icon {
  font-size: 18px;
  margin-right: 4px;
  margin-top: 1px;
}

.verify-btn {
  color: var(--warning-color);
  border-color: var(--warning-color);
  height: 40px;
  margin: auto;
}

.verify-btn:hover {
  background-color: var(--warning-color);
  color: white;
}


@media (max-width: 450px) {
  .section-block {
    max-width: 350px;
  }

  .btn-danger {
    padding: 12px 20px;
    font-size: 14px;
  }

  .danger-text {
    font-size: 15px;
  }

  .title {
    font-size: 13px;
  }

  .unlink-btn {
    font-size: 12px;
    padding: 0.4em 0.9em;
  }

  .action-btn {
    font-size: 12px;
    padding: 0.4em 0.9em;
  }

  .provider-block {
    padding: 0.8em;
  }
}

@media (max-height: 630px) {
  .main-section {
    gap: 1em;
  }
}
