<app-navbar></app-navbar>

<app-confirm-modal
  [isVisible]="isConfirmModalVisible"
  [title]="modalTitle"
  [message]="modalMessage"
  [confirmText]="modalConfirmText"
  (close)="closeConfirmModal()"
  (confirm)="confirmModalAction()"
  [useCountdown]="useCountdown">
</app-confirm-modal>

<app-action-modal
  [isVisible]="isEmailTokenModalVisible"
  [title]='"Verification Requests"'
  [message]="getEmailTokenMessage()"
  [primaryActionText]="'Resend email'"
  [secondaryActionText]="'Cancel request'"
  (close)="closeEmailTokenModal()"
  (primaryAction)="resendEmailChangeRequest()"
  (secondaryAction)="cancelEmailChangeRequest()"
>
</app-action-modal>

<ng-template #authButton let-provider="provider">
  <button
    type="button"
    class="action-btn"
    (click)="handleProviderWrapped(provider)"
    [disabled]="isLastLinkedProvider(provider) && isProviderLinked(provider)"
    [ngClass]="{
      'unlink-btn': isProviderLinked(provider),
      'black-n-white-button': !isProviderLinked(provider)
    }"
    [ngStyle]="{
      cursor: isLastLinkedProvider(provider) ? 'not-allowed' : 'pointer',
      opacity: isLastLinkedProvider(provider) ? 0.6 : 1,
      border: isProviderLinked(provider) ? 'none' : '1px solid black',
    }"
    title="{{ isLastLinkedProvider(provider) ? 'You cannot unlink your last authentication method.' : '' }}">
    {{ isProviderLinked(provider) ? 'Unlink' : 'Link' }}
  </button>
</ng-template>

<!-- Auth Modal Wrapper -->
<div *ngIf="isAuthModalVisible" class="auth-modal-overlay">
  <app-auth (close)="closeAuthModal()" [mode]="authMode" [providers]="authProviders"></app-auth>
</div>

<div class="base-container">
  <div class="main-section">
    <div class="section-block email card">
      <div class="title">Email {{ isProviderLinked('local') ? ' and Password' : '' }}</div>
      <div class="email-content">
        <form [formGroup]="emailForm" class="email-form">

          <div class="email-field">
            <tui-input formControlName="emailValue"
                       tuiTextfieldSize="m"
                       [tuiTextfieldLabelOutside]="true"
                       [readOnly]="!emailEditable"

            >
              Email
              <input placeholder="Email" tuiTextfield/>
            </tui-input>
            <tui-error formControlName="emailValue" [error]="[] | tuiFieldError | async"></tui-error>
          </div>

        </form>
        <span *ngIf="!emailVerified"
              class="unverified-icon"
              title="Email not verified"
        >
          <i class="fas fa-exclamation text-xl"></i>
        </span>

        <button *ngIf="!emailVerified && !emailEditable && !hasPendingEmailVerificationRequest()"
                class="black-n-white-button verify-btn"
                (click)="requestEmailVerification()">
          <i class="fa-solid fa-envelope-open-text"></i>
          Verify
        </button>

        <div class="status-container" *ngIf="emailVerified" [ngClass]="{emailVerifiedTextExpanded : 'circular-icon'}">
          <span class="status-box verified-box">
            <i class="status-icon fas fa-check-circle"></i>
            <span *ngIf="emailVerifiedTextExpanded" class="status-text">VERIFIED</span>
          </span>
        </div>

        <button *ngIf="hasPendingEmailVerificationRequest()"
                class="pending-icon edit-element"
                title="Email not verified"
                (click)="onPendingEmailVerificationClick()"
        >
          <i class="fi fi-rr-email-pending text-sm"></i>
        </button>

        <app-edit-button
          *ngIf="!hasPendingEmailVerificationRequest()"
          class="edit-element"
          [disabled]="!emailConfirmEnabled()"
          [label]="'Change email'"
          [editable]="emailEditable"
          (clickFunction)="onEmailEditClick()">
        </app-edit-button>
      </div>

      <div class="password-content" *ngIf="isProviderLinked('local')">
        <form [formGroup]="passwordForm" (ngSubmit)="onPasswordEditClick()" class="email-form">

          <div class="email-field">
            <tui-input-password
              formControlName="passwordValue"
              [tuiTextfieldLabelOutside]="true"
              tuiTextfieldSize="m"
              [readOnly]="!passwordEditable"
            >
              Password
            </tui-input-password>
            <tui-error formControlName="passwordValue" [error]="[] | tuiFieldError | async"></tui-error>
          </div>

        </form>
        <app-edit-button
          class="edit-element"
          [disabled]="!passwordConfirmEnabled()"
          [label]="'Change password'"
          [editable]="passwordEditable"
          (clickFunction)="onPasswordEditClick()">
        </app-edit-button>
      </div>
    </div>
    <div class="section-block card">
      <div class="title">Linked Accounts</div>
      <div class="social-buttons">
        <div class="provider-block">
          <!-- Google Provider Block -->
          <app-provider-icon
            [provider]="'google'"
            [connectedProviders]="authProviders"
            [click]="clickProviderIcon"
          ></app-provider-icon>
          <ng-container *ngTemplateOutlet="authButton; context: { provider: 'google' }"></ng-container>
        </div>

        <div class="provider-block">
          <!-- Apple Provider Block -->
          <app-provider-icon
            [provider]="'apple'"
            [connectedProviders]="authProviders"
            [click]="clickProviderIcon"
          ></app-provider-icon>
          <ng-container *ngTemplateOutlet="authButton; context: { provider: 'apple' }"></ng-container>
        </div>

        <div class="provider-block">
          <!-- Local Provider Block -->
          <app-provider-icon
            [provider]="'local'"
            [connectedProviders]="authProviders"
            [click]="clickProviderIcon"
          ></app-provider-icon>
          <ng-container *ngTemplateOutlet="authButton; context: { provider: 'local' }"></ng-container>
        </div>
      </div>
    </div>
    <div class="danger section-block">
      <span class="danger-text">Danger Zone</span>
      <button class="btn btn-danger" (click)="onDeleteAccount()">
        <i class="fi fi-bs-user-xmark delete-icon"></i>
        Delete Account
      </button>
    </div>
  </div>
</div>
