<div class="card step welcome">
  <div class="left-side">
    <app-gif-player (click)="replayGifSubject.next()" [replayTrigger]="replayGifSubject"></app-gif-player>
  </div>
  <div class="right-side">
    <h4 class="gradient-text"> Welcome to Almonium!</h4>
    <p>
      We’re excited to have you here.
      Let’s guide you through the setup.
      Don’t worry, it will only take a minute.
    </p>
    <app-button
      label="Get Started"
      [loading$]="loading$"
      (click)="startOnboarding()"
      class="w-full"
      appearance="gradient"
    ></app-button>
  </div>
</div>
