@import "../onboarding.styles.less";

.card.step.welcome {
  flex-direction: row;
  align-items: stretch;
  max-width: 38rem;
}

.right-side {
  padding: .3rem 0;
  flex: 1.7;
  font-size: 1.1rem;
  color: var(--text-color);

  h4 {
    font-size: 1.7rem;
    font-weight: 500;
    padding: .1rem;
  }

  p {
    padding: 0 .7rem;
  }

  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 10rem;
}

.left-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

@media (max-width: 560px) {
  .card.step.welcome {
    flex-direction: column;
    max-width: 85vw;
  }

  .left-side {
    box-sizing: border-box;
    position: relative;
    padding-top: 100%; /* Create a square aspect ratio */

    app-gif-player {
      position: absolute; /* Place the image inside the square */
      top: 0;
      left: 0;
      padding: 3.5rem;

      img {
        object-fit: contain; /* Maintain aspect ratio */
      }
    }
  }

  .right-side {
    p {
      font-size: 1.1rem;
    }

    h4 {
      font-size: 1.5rem;
    }
  }
}
