<div class="card step welcome">
  <div class="left-side">
    <app-gif-player
      (click)="replayGifSubject.next()"
      [replayTrigger]="replayGifSubject"
      size="8rem"
    ></app-gif-player>
  </div>
  <div class="right-side">
    <h4 class="welcome-title">Welcome to Almonium</h4>
    <p>
      A few quick questions, then you're set up.
    </p>
    <app-button
      label="Get Started"
      [loading$]="loading$"
      (click)="startOnboarding()"
      class="w-full"
      appearance="solid"
    ></app-button>
  </div>
</div>
