@import 'src/styles/shared-styles.less';

:host {
  --tui-primary: #d33778; // primary theme color, used for buttons, input fields, etc.
  --tui-primary-hover: #a32b5d;
  --tui-error-fill: #ac1c1c; // error field box color
  --tui-negative: #ac1c1c; // error text color
  --tui-radius-m: 50px;
}

.language-selection-container {
  margin: 0 auto;
  text-align: center;
  max-width: 400px;
  padding: 20px;
  border-radius: 35px;

  h3 {
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-group {
      width: 100%;
      margin-bottom: 1.5rem;
      text-align: left;

      label {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
        font-weight: 600;
      }

      tui-multi-select {
        width: 100%;
      }
    }

    .features {
      width: 100%;
      text-align: left;
      margin-bottom: 2rem;

      h3 {
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
      }

      .columns {
        display: flex;
        justify-content: space-between;
      }

      .column {
        width: 48%; // Each column will take 48% of the available space
      }

      .special-features, .basic-features {
        h4 {
          font-size: 1rem;
          margin-bottom: 0.5rem;
        }

        ul.features-list {
          list-style-type: none; // Remove enumeration dots
          padding: 0;

          li {
            margin-bottom: 0.5rem;
            font-size: 0.9rem;
          }
        }
      }
    }

    .gradient-button {
      width: 100%;
      max-width: 200px;
      border-radius: 35px;
    }
  }
}
