@import 'src/styles/shared-styles.less';

:host {
  --tui-primary: #d33778; // primary theme color, used for buttons, input fields, etc.
  --tui-primary-hover: #a32b5d;
  --tui-error-fill: #ac1c1c; // error field box color
  --tui-negative: #ac1c1c; // error text color
  --tui-radius-m: 20px;
}

.text-sm {
  line-height: 1.5rem;
}

.tui-col_8 {
  width: 100%; // Full width of the form container
  padding: 20px;
  min-width: 360px;
  box-sizing: border-box; // Includes padding in the width calculation
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  background-color: white;
  z-index: 9999;
}

.language-selection-container {
  margin: 0 auto;
  text-align: center;
  max-width: 500px;
  padding: 20px;
  border-radius: 35px;

  h3 {
    margin-bottom: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-group {
      width: 100%;
      margin-bottom: 1.5rem;
      text-align: left;

      label {
        display: block;
        margin-bottom: 0.5rem;
        margin-left: 1.1rem;
        font-size: 0.9rem;
        font-weight: 600;
      }

      tui-multi-select {
        width: 100%;
      }
    }

    .features {
      width: 100%;
      text-align: left;
      margin-bottom: 2rem;

      h3 {
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
      }

      .columns {
        display: flex;
        justify-content: space-around;
        gap: 2rem; // Add some space between the columns
        margin-left: 1.1em;
      }

      .column {
        flex-grow: 1; // Allow columns to grow based on their content
      }

      .special-features, .basic-features {
        h4 {
          font-size: 1rem;
          margin-bottom: 0.5rem;
        }

        ul.features-list {
          list-style-type: none; // Remove enumeration dots
          padding: 0;

          li {
            margin-bottom: 0.5rem;
            font-size: 0.9rem;
          }
        }
      }
    }

    .gradient-button {
      width: 100%;
      border-radius: 35px;
    }
  }
}
